@*@model ShopNow.ViewModels.BillListViewModel*@
@model IEnumerable<ShopNow.ViewModels.BillListViewModel.BillList>
@using GridMvc.Html
@{
    ViewBag.Title = "Billing Charge List";
}
<title>ShopNow | Billing Charge List</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>

<div class="container-fluid">
    <div class="row my-2">
        <div class="col-md-6">
            <h5 class="text-success" style="letter-spacing:1px">Billing Charge Setting List</h5>
        </div>        
        <div class="col-md-6 text-right">
            <a href="~/Bill/BillingCharge" target="_self"><span class="fa fa-plus"></span> Entry of Billing Charge Setting</a>
        </div>
    </div>
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.ShopName).Titled("Shop Name").Filterable(true).SetWidth(10);
    columns.Add(c => c.ConvenientCharge).Titled("Convenient Charge").Filterable(true).SetWidth(15);
    columns.Add(c => c.ItemTypeText).Titled("Packing Type").Filterable(true).SetWidth(10);
    columns.Add(c => c.PackingCharge).Titled("Packing Charge").Filterable(true).SetWidth(10);
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .RenderValueAs(o => Html.ActionLink("Edit", "BillingUpdate", new { code = @ShopNow.Helpers.AdminHelpers.ECodeInt(o.Id) }, new { @class = "btn btn-sm btn-warning mr-1", @style = "padding: 3px 26px" }).ToHtmlString()
                   + Html.ActionLink("Delete", "BillingDelete", new { code = @ShopNow.Helpers.AdminHelpers.ECodeInt(o.Id) }, new { @class = "btn  btn-sm btn-danger", @style = "padding: 3px 18px" }).ToHtmlString()).Titled("Action").SetWidth(15);
}).WithPaging(20).Sortable(true)
</div>