@model IEnumerable<ShopNow.ViewModels.DeliveryChargeAssignListViewModel.DeliveryAssignList>
@using GridMvc.Html
@{
    ViewBag.Title = "Delivery Charge Assign List";
}
<title>ShopNow | Delivery Charge Assign List</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>

<div class="container-fluid">   
    <div class="row my-2">
        <div class="col-md-6">
            <h5 class="text-success" style="letter-spacing:1px">Delivery Charge Assign List</h5>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Bill/DeliveryChargeAssign" target="_self"><span class="fa fa-plus"></span> Delivery Charge Assign</a>
        </div>
        <div class="col-md-12">
            <div class="card shadow mt-3">
                <div class="card-body">
                    @Html.Grid(Model).Columns(columns =>
               {
               columns.Add(b => b.ShopName).Titled("Shop Name").Filterable(true).SetWidth(20);
               columns.Add(b => b.TypeText).Filterable(true).Titled("Delivery Mode").SetWidth(20);
               columns.Add(b => b.TireTypeText).Filterable(true).Titled("Delivery Charge Type").SetWidth(20);
}).WithPaging(20).Sortable(true)
                </div>
            </div>
        </div>
    </div>
</div>
