@model ShopNow.ViewModels.DeliveryChargeAssignCreateViewModel
@{
    ViewBag.Title = "Delivery Charge Assign";
}
<title>ShopNow | @ViewBag.Title</title>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h5 class="mt-1 text-success" style="letter-spacing:1px">@ViewBag.Title</h5>
        </div>
        <div class="col-md-8 text-right">
            <a href="~/Bill/DeliveryChargeAssignList" target="_self"><span class="fa fa-list-ul ml-3"></span> Delivery Charge Assign List</a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            @using (Html.BeginForm("DeliveryChargeAssign", "Bill", FormMethod.Post, new { id = "DeliveryForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="card mb-3 shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        <label class="col-form-label text-secondary font-weight-bold">Shop Name</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select id="ShopId" name="ShopId" class="form-control"></select>
                                        <input type="hidden" name="ShopName" id="ShopName" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="col-form-label text-secondary font-weight-bold">Delivery Mode</label>
                            </div>
                            <div class="col-md-6 mt-2">
                                <div class="form-check-inline mr-3">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Type" value="0" checked> General
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="Type" value="1"> Special
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-md-2">
                                <label class="col-form-label text-secondary font-weight-bold">Delivery Charge Type</label>
                            </div>
                            <div class="col-md-8 mt-2">
                                <div class="form-check-inline mr-3">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="TireType" value="1"> 1<sup>st</sup> Tier
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="TireType" value="2"> 2<sup>nd</sup> Tier
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="TireType" value="3"> 3<sup>rd</sup> Tier
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 border-right">
                                <label class="col-form-label text-secondary font-weight-bold">Bike</label><br />
                                <label class="text-secondary">Rate upto 5 Km. : <span class="font-weight-bold" id="BikeChargeUpto5Km"></span></label><br />
                                <label class="text-secondary">After 5 Km. (Rate per Km.) : <span class="font-weight-bold" id="BikeChargePerKm"></span></label>
                            </div>
                            <div class="col-md-3 border-right">
                                <label class="col-form-label text-secondary font-weight-bold">Carrier Bike</label><br />
                                <label class="text-secondary">Rate upto 5 Km. : <span class="font-weight-bold" id="CarrierBikeChargeUpto5Km"></span></label><br />
                                <label class="text-secondary">After 5 Km. (Rate per Km.) : <span class="font-weight-bold" id="CarrierBikeChargePerKm"></span></label>
                            </div>
                            <div class="col-md-3">
                                <label class="col-form-label text-secondary font-weight-bold">Auto</label><br />
                                <label class="text-secondary">Rate upto 5 Km. : <span class="font-weight-bold" id="AutoChargeUpto5Km"></span></label><br />
                                <label class="text-secondary">After 5 Km. (Rate per Km.) : <span class="font-weight-bold" id="AutoChargePerKm"></span></label>                              
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2 my-5 mx-auto">
                                <button type="button" class="btn btn-block btn-success" id="Create"><span class="glyphicon glyphicon-file"></span> Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script src="~/Scripts/ValidateRequiredFields.js"></script>
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
        var msg = "@ViewBag.Message";
        if (msg != "") {
            swal("Notice!", msg, "warning")
        }
            $('input[type=radio][name=TireType]').change(function () {
                var type = $('input[name="Type"]:checked').val();
                var tiretype = $('input[name="TireType"]:checked').val();
                $.getJSON("/Bill/GetDeliveryChargeType?type=" + type + "&tiretype=" + tiretype, function (data) {
                    //debugger;
                    $.each(data, function (key, v) {
                        $.each(v, function (index, list) {
                            if (list.Type == 0) {
                                if (list.TireType == 1) {
                                    if (list.VehicleType == 1) {
                                        $("#BikeChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#BikeChargePerKm").text(list.ChargePerKm);
                                    }
                                    if (list.VehicleType == 2) {
                                        $("#CarrierBikeChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#CarrierBikeChargePerKm").text(list.ChargePerKm);
                                    }
                                    if (list.VehicleType == 3) {
                                        $("#AutoChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#AutoChargePerKm").text(list.ChargePerKm);
                                    }
                                }
                                if (list.TireType == 2) {
                                    if (list.VehicleType == 1) {
                                        $("#BikeChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#BikeChargePerKm").text(list.ChargePerKm);
                                    }
                                    if (list.VehicleType == 2) {
                                        $("#CarrierBikeChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#CarrierBikeChargePerKm").text(list.ChargePerKm);
                                    }
                                    if (list.VehicleType == 3) {
                                        $("#AutoChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#AutoChargePerKm").text(list.ChargePerKm);
                                    }
                                }
                                if (list.TireType == 3) {
                                    if (list.VehicleType == 1) {
                                        $("#BikeChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#BikeChargePerKm").text(list.ChargePerKm);
                                    }
                                    if (list.VehicleType == 2) {
                                        $("#CarrierBikeChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#CarrierBikeChargePerKm").text(list.ChargePerKm);
                                    }
                                    if (list.VehicleType == 3) {
                                        $("#AutoChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#AutoChargePerKm").text(list.ChargePerKm);
                                    }
                                }
                            }
                            if (list.Type == 1) {
                                if (list.TireType == 1) {
                                    if (list.VehicleType == 1) {
                                        $("#BikeChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#BikeChargePerKm").text(list.ChargePerKm);
                                    }
                                    if (list.VehicleType == 2) {
                                        $("#CarrierBikeChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#CarrierBikeChargePerKm").text(list.ChargePerKm);
                                    }
                                    if (list.VehicleType == 3) {
                                        $("#AutoChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#AutoChargePerKm").text(list.ChargePerKm);
                                    }
                                }
                                if (list.TireType == 2) {
                                    if (list.VehicleType == 1) {
                                        $("#BikeChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#BikeChargePerKm").text(list.ChargePerKm);
                                    }
                                    if (list.VehicleType == 2) {
                                        $("#CarrierBikeChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#CarrierBikeChargePerKm").text(list.ChargePerKm);
                                    }
                                    if (list.VehicleType == 3) {
                                        $("#AutoChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#AutoChargePerKm").text(list.ChargePerKm);
                                    }
                                }
                                if (list.TireType == 3) {
                                    if (list.VehicleType == 1) {
                                        $("#BikeChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#BikeChargePerKm").text(list.ChargePerKm);
                                    }
                                    if (list.VehicleType == 2) {
                                        $("#CarrierBikeChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#CarrierBikeChargePerKm").text(list.ChargePerKm);
                                    }
                                    if (list.VehicleType == 3) {
                                        $("#AutoChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#AutoChargePerKm").text(list.ChargePerKm);
                                    }
                                }
                            }
                        });
                    });
                });
            });

            $('input[type=radio][name=Type]').change(function () {
                var type = $('input[name="Type"]:checked').val();
                var tiretype = $('input[name="TireType"]:checked').val();
                $.getJSON("/Bill/GetDeliveryChargeType?type=" + type + "&tiretype=" + tiretype, function (data) {
                    $.each(data, function (key, v) {
                        $.each(v, function (index, list) {
                            if (list.Type == 0) {
                                if (list.TireType == 1) {
                                    if (list.VehicleType == 1) {
                                        $("#BikeChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#BikeChargePerKm").text(list.ChargePerKm);
                                    }
                                    if (list.VehicleType == 2) {
                                        $("#CarrierBikeChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#CarrierBikeChargePerKm").text(list.ChargePerKm);
                                    }
                                    if (list.VehicleType == 3) {
                                        $("#AutoChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#AutoChargePerKm").text(list.ChargePerKm);
                                    }
                                }
                                if (list.TireType == 2) {
                                    if (list.VehicleType == 1) {
                                        $("#BikeChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#BikeChargePerKm").text(list.ChargePerKm);
                                    }
                                    if (list.VehicleType == 2) {
                                        $("#CarrierBikeChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#CarrierBikeChargePerKm").text(list.ChargePerKm);
                                    }
                                    if (list.VehicleType == 3) {
                                        $("#AutoChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#AutoChargePerKm").text(list.ChargePerKm);
                                    }
                                }
                                if (list.TireType == 3) {
                                    if (list.VehicleType == 1) {
                                        $("#BikeChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#BikeChargePerKm").text(list.ChargePerKm);
                                    }
                                    if (list.VehicleType == 2) {
                                        $("#CarrierBikeChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#CarrierBikeChargePerKm").text(list.ChargePerKm);
                                    }
                                    if (list.VehicleType == 3) {
                                        $("#AutoChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#AutoChargePerKm").text(list.ChargePerKm);
                                    }
                                }
                            }
                            if (list.Type == 1) {
                                if (list.TireType == 1) {
                                    if (list.VehicleType == 1) {
                                        $("#BikeChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#BikeChargePerKm").text(list.ChargePerKm);
                                    }
                                    if (list.VehicleType == 2) {
                                        $("#CarrierBikeChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#CarrierBikeChargePerKm").text(list.ChargePerKm);
                                    }
                                    if (list.VehicleType == 3) {
                                        $("#AutoChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#AutoChargePerKm").text(list.ChargePerKm);
                                    }
                                }
                                if (list.TireType == 2) {
                                    if (list.VehicleType == 1) {
                                        $("#BikeChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#BikeChargePerKm").text(list.ChargePerKm);
                                    }
                                    if (list.VehicleType == 2) {
                                        $("#CarrierBikeChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#CarrierBikeChargePerKm").text(list.ChargePerKm);
                                    }
                                    if (list.VehicleType == 3) {
                                        $("#AutoChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#AutoChargePerKm").text(list.ChargePerKm);
                                    }
                                }
                                if (list.TireType == 3) {
                                    if (list.VehicleType == 1) {
                                        $("#BikeChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#BikeChargePerKm").text(list.ChargePerKm);
                                    }
                                    if (list.VehicleType == 2) {
                                        $("#CarrierBikeChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#CarrierBikeChargePerKm").text(list.ChargePerKm);
                                    }
                                    if (list.VehicleType == 3) {
                                        $("#AutoChargeUpto5Km").text(list.ChargeUpto5Km);
                                        $("#AutoChargePerKm").text(list.ChargePerKm);
                                    }
                                }
                            }
                        });
                    });
                });
            });
            $('#ShopId').select2({
                placeholder: "Search Shop",
                ajax: {
                    url: "/Bill/GetBillShopSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="ShopName"]').val(e.params.data.text);
                });

            $('#Create').on('click', function () {
                var shop = $("#ShopId").val();
                var type = $('input[name="Type"]:checked').val();
                var tiretype = $('input[name="TireType"]:checked').val();
                if (shop != null) {
                    if (type == '0' || type == '1') {
                        if (tiretype == '1' || tiretype == '2' || tiretype == '3') {
                            $('#DeliveryForm').submit();
                        }
                        else {
                            swal("Notice!", "Please Select Delivery Charge Type!", "warning");
                        }
                    } else {
                        swal("Notice!", "Please Select Delivery Mode!", "warning");
                    }
                } else {
                    swal("Notice!", "Please Select Shop Name!", "warning");
                }
            });

        });
    </script>
}
