@model IEnumerable<ShopNow.ViewModels.DeliveryChargeListViewModel.DeliveryList>
@using GridMvc.Html
@{
    ViewBag.Title = "Delivery Charge List";
}
<title>SNOWCH | Delivery Charge List</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h4 class="text-success">Delivery Charge Setting List</h4>
        </div>
        <div class="col-md-6 text-right" id="Delivery">
            <a href="~/Bill/DeliveryCharge" target="_self"><span class="fa fa-plus"></span> Entry of Delivery Charge Setting</a>
        </div>
        <div class="col-md-12">
            <div class="card shadow mt-3">
                <div class="card-body">
                    @Html.Grid(Model).Columns(columns =>
               {
               columns.Add(b => b.TypeText).Filterable(true).Titled("Delivery Mode").SetWidth(10);
               columns.Add(b => b.TireTypeText).Filterable(true).Titled("Delivery Charge Type").SetWidth(10);
               columns.Add(b => b.VehicleTypeText).Filterable(true).Titled("Vehicle Type").SetWidth(10);
               columns.Add(b => b.ChargeUpto5Km).Titled("Upto 5Km").Filterable(true).SetWidth(10);
               columns.Add(b => b.ChargePerKm).Titled("After 5 (Rate per Km)").Filterable(true).SetWidth(10);
               columns.Add().Encoded(false).Sanitized(false).Titled("Action").SetWidth(15)
             .RenderValueAs(o => @<div>
                                <a href="~/Bill/DeliveryUpdate?Id=@ShopNow.Helpers.AdminHelpers.ECodeInt(o.Id)" class="text-info mr-5"><i class="fa fa-edit fa-lg"></i></a>
                                <a href="javascript:void(0)" data-id=@o.Id class="text-danger btnDelete"><i class="fa fa-trash fa-lg"></i></a>
                            </div>);
}).WithPaging(20).Sortable(true)
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $(".btnDelete").click(function () {
                var Id = $(this).attr('data-id');
                swal({
                    title: "Are you sure want to delete?",
                    text: "You will not be able to recover this file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, Delete it!",
                    cancelButtonText: "No, cancel",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.getJSON("/Bill/DeliveryDelete", { id: Id }, function (data) {
                                if (data == true) {
                                    window.location.reload();
                                }
                            });
                        }
                    }
                );
            });
        });
    </script>
}