@model ShopNow.ViewModels.BillCreateEditViewModel
@{
    ViewBag.Title = "Delivary Charge Limit";
}
<title>ShopNow | Delivary Charge Limit</title>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h5 class="mt-1 text-success" style="letter-spacing:1px">DELIVERY CHARGE</h5>
        </div>
        <div class="col-md-8 text-right">
            <a href="~/Bill/DeliveryChargeList" target="_self"><span class="fa fa-bars ml-3"></span> Delivery Charge List</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("DeliveryCharge", "Bill", FormMethod.Post, new { id = "DeliveryForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="card shadow mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 mt-3">
                                <div class="row">
                                    <div class="col-md-2 text-center text-theme_dark">
                                        <h5>Delivery Mode</h5>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-check-inline mr-3">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="DeliveryRateSet" value="0" checked> General
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="DeliveryRateSet" value="1"> Special
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-2 text-center text-theme_dark">
                                        <h6>Delivery Charge Type</h6>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-check-inline mr-3">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="Type" value="1" checked> 1<sup>st</sup> Tier
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="Type" value="2"> 2<sup>nd</sup> Tier
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="Type" value="3"> 3<sup>rd</sup> Tier
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-2 text-center text-theme_dark">
                                        <h6>Vehicle Type</h6>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-check-inline mr-3">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="VehicleType" value="1" checked> Bike
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="VehicleType" value="2"> Carrier Bike
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="VehicleType" value="3"> Auto
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <hr class="sn_theme-gradient" />
                            </div>
                        </div>
                        <div id="GeneralEntry">
                            <div class="row">
                                <h5 class="col-md-12 text-theme my-3">General Delivery Charge</h5>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-md-3 text-md-left">
                                            <strong class="text-secondary">Rate upto 5 Km. <span class="text-danger">*</span></strong>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" name="DeliveryChargeKM" id="DeliveryChargeKM" class="form-control" min="25" value="25" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3 text-md-left">
                                            <strong class="text-secondary">After 5 Km. (Rate per Km.) <span class="text-danger">*</span></strong>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" name="DeliveryChargeOneKM" id="DeliveryChargeOneKM" class="form-control" min="5" value="5" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-none" id="SpecialEntry">
                            <div class="row">
                                <h5 class="col-md-12 text-theme my-3">Special Delivery Charge</h5>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-md-3 text-md-left">
                                            <strong class="text-secondary">Rate upto 5 Km. <span class="text-danger">*</span></strong>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" name="DeliveryChargeKM1" id="DeliveryChargeKM1" class="form-control" min="30" value="30" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3 text-md-left">
                                            <strong class="text-secondary">After 5 Km. (Rate per Km.) <span class="text-danger">*</span></strong>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" name="DeliveryChargeOneKM1" id="DeliveryChargeOneKM1" class="form-control" min="10" value="10" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2 my-2 mx-auto">
                                <button type="button" class="btn btn-block btn-success" id="Create"><span class="glyphicon glyphicon-file"></span> Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts
{
<!--Select2-->
<script src="~/Scripts/select2/js/select2.js"></script>
<link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
<link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
<!--Select2 End-->
<script src="~/Scripts/ValidateRequiredFields.js"></script>
<script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
      var msg = "@ViewBag.Message";
        if (msg != "") {
            swal("Notice!", msg, "error")
            }
           
        $('input[type=radio][name=DeliveryRateSet]').change(function () {
            if (this.value == '0') {
                $("#GeneralEntry").removeClass("d-none");
                $("#SpecialEntry").addClass("d-none");
            }
            else if (this.value == '1') {
                $("#GeneralEntry").addClass("d-none");
                $("#SpecialEntry").removeClass("d-none");
            }
        });

        $('#Create').on('click', function () {
            var generalDeliveryChargekm = $('#DeliveryChargeKM').val();
            var generalDeliveryChargeOnekm = $('#DeliveryChargeOneKM').val();
            var specialDeliveryChargekm = $('#DeliveryChargeKM1').val();
            var specialDeliveryChargeOnekm = $('#DeliveryChargeOneKM1').val();
            var entry = $('input[name="DeliveryRateSet"]:checked').val();
            var type = $('input[name="Type"]:checked').val();
            var vehicletype = $('input[name="VehicleType"]:checked').val();
            if (entry == '0') {
                if (generalDeliveryChargekm == null || generalDeliveryChargeOnekm == null || generalDeliveryChargekm == "" || generalDeliveryChargeOnekm == "") {
                    swal("Notice!", "Please Enter General Delivery Charge Amount!", "warning");
                } else if (generalDeliveryChargekm < 25) {
                    swal("Notice!", "General Delivery Charge within 5KM is Minimum Rs.25", "warning");
                } else if (generalDeliveryChargeOnekm < 4) {
                    swal("Notice!", "General Delivery Charge After 5KM per KM is Minimum Rs.4", "warning");
                }
                else {
                    $.getJSON("/Bill/DeliveryChargeExist?DeliveryRateSet=" + entry + "&type=" + type + "&vehicletype=" + vehicletype, function (data) {
                        if (data.IsAdded == true) {
                            $('#DeliveryForm').submit();
                        } else {
                            swal(data.message, "", "warning");
                        }
                    });
                }
            } else if (entry == '1') {
                if (specialDeliveryChargekm == null || specialDeliveryChargeOnekm == null || specialDeliveryChargekm == "" || specialDeliveryChargeOnekm == "") {
                    swal("Notice!", "Please Enter Special Delivery Charge Amount!", "warning");
                } else if (specialDeliveryChargekm < 30) {
                    swal("Notice!", "Special Delivery Charge within 5KM is Minimum Rs.30", "warning");
                } else if (specialDeliveryChargeOnekm < 10) {
                    swal("Notice!", "Special Delivery Charge After 5KM per KM is Minimum Rs.10", "warning");
                }
                else {
                    $.getJSON("/Bill/DeliveryChargeExist?DeliveryRateSet=" + entry + "&type=" + type + "&vehicletype=" + vehicletype, function (data) {
                        if (data.IsAdded == true) {
                            $('#DeliveryForm').submit();
                        } else {
                            swal(data.message, "", "warning");
                        }
                    });
                }
            }
        });
        
    });
</script>
}
