@model ShopNow.ViewModels.DeliveryBoyAssignViewModel
@{
    ViewBag.Title = "LiveDeliveryboyAssignment";
}
<title>ShopNow | Live DeliveryBoy Assignment</title>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h5 class="mt-1 text-success" style="letter-spacing:1px">Live DeliveryBoy Assignment</h5>
        </div>
        <div class="col-md-2 col-sm-4 mb-2 data-search">
        </div>
        <div class="col-md-2">
            <select name="ShopId" id="ShopId" class="form-control"></select>
            <input type="hidden" name="ShopName" id="ShopName" />
        </div>
        <div class="col-md-1">
            <input type="button" class="form-control btn btn-sm btn-success" name="Filter" id="Filter" value="Filter" />
        </div>
        <div class="col-md-1">
            <input type="button" class="form-control btn btn-sm btn-secondary" name="ClearFilter" id="ClearFilter" value="Clear Filter" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped table-hover table-borderless" id="DeliveryBoyAssign-list">
                        <thead>
                            <tr>
                                <th class="font-weight-bold">No.</th>
                                <th class="font-weight-bold">Orders Without Deliveryboy</th>
                                <th class="font-weight-bold">Date</th>
                                <th class="font-weight-bold">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.List)
                            {
                                <tr>
                                    <td></td>
                                    <td>@item.OrderNo - @item.ShopName</td>
                                    <td>@item.DateEncoded.ToString("dd/MMM/yyyy hh:mm tt")</td>
                                    <td class="text-nowrap">
                                        <a href="~/Cart/AssignDeliveryBoy/?id=@item.OrderNo" class="btn btn-warning btn-sm" style="padding: 3px 16px">Assign</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped table-hover table-borderless" id="FreeDeliveryBoy-list">
                        <thead>
                            <tr>
                                <th class="font-weight-bold">No.</th>
                                <th class="font-weight-bold">Free DeliveryBoy</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DeliveryBoyList)
                            {
                                <tr>
                                    <td></td>
                                    <td>@item.Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script>
        $(document).ready(function () {

            var t = $('#DeliveryBoyAssign-list').DataTable({
                "dom": "<'row'<'col-sm-6'f>>" +
                    "<'row'<'col-sm-5'i><'col-sm-3'l><'col-sm-4'p>>" +
                    "<'row'<'col-sm-12'tr>>",
                "bPaginate": false,
                "scrollY": 400,
                "paging": true,
                "lengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "ALL"]],
                "pageLength": 20,
                initComplete: function (settings, json) {
                    $('.index input').remove();
                    $('.action-btn input').remove();
                    $('.dataTables_filter input').appendTo('.data-search');
                    $('.dataTables_filter label').remove();
                    $('.data-search input').attr('placeholder', 'Quick Search');
                    $('.data-search input').addClass('form-control');
                    $('.data-search input').removeClass('form-control-sm');
                },
            });

            var ta = $('#FreeDeliveryBoy-list').DataTable({
                //"dom": "<'row'<'col-sm-6'f>>" +
                //    "<'row'<'col-sm-5'i><'col-sm-3'l><'col-sm-4'p>>" +
                //    "<'row'<'col-sm-12'tr>>",
                "bPaginate": false,
                "scrollY": 400,
                "paging": true,
                //"lengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "ALL"]],
                //"pageLength": 20,
                initComplete: function (settings, json) {
                    $('.index input').remove();
                    $('.action-btn input').remove();
                    //$('.dataTables_filter input').appendTo('.data-search');
                    $('.dataTables_filter label').remove();
                    //$('.data-search input').attr('placeholder', 'Quick Search');
                    //$('.data-search input').addClass('form-control');
                    //$('.data-search input').removeClass('form-control-sm');
                },
            });

            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

            ta.on('order.dt search.dt', function () {
                ta.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

            $('#ShopCode').select2({
                placeholder: "Search Shop",
                ajax: {
                    url: "/Cart/GetShopSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="ShopName"]').val(e.params.data.text);
            });

            $("#Filter").click(function () {
                var shopId = $("#ShopId").val();
                window.location.href = "/Support/LiveDeliveryboyAssignment/?shopId=" + shopId;
            });
            $("#ClearFilter").click(function () {
                window.location.href = "/Support/LiveDeliveryboyAssignment";
            });

        });

    </script>

}
