@model ShopNow.ViewModels.FranchiseViewModel
@{
    ViewBag.Title = "Marketing Agent Assign";
}
<title>ShopNow | Marketing Agent Assign </title>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h5 class="text-success" style="letter-spacing:1px">ASSIGN MARKETING AGENT FOR DELIVERYBOY</h5>
        </div>
        <div class="col-md-6 text-right">
            <a href="/DeliveryBoy/AssignedFranchiseList"><span class="fa fa-bars"></span> Assigned Marketing Agent List</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            @using (Html.BeginForm("AssignFranchise", "DeliveryBoy", FormMethod.Post, new { id = "AssignFranchiseForm", enctype = "multipart/form-data" }))
            {
                <div class="card mb-3">
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="col-form-label text-secondary font-weight-bold">DeliveryBoy Name<span class="text-danger">*</span></label>
                                        <select id="DeliveryBoyCode" name="DeliveryBoyCode" class="form-control"></select>
                                        <input type="hidden" name="DeliveryBoyName" id="DeliveryBoyName" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="col-form-label"><strong class="text-secondary">Marketing Agent Name</strong></label>
                                <select name="MarketingAgentCode" id="MarketingAgentCode" class="form-control"></select>
                                <input type="hidden" name="MarketingAgentName" id="MarketingAgentName" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12 text-center">
                                <button type="button" class="btn btn-success Save" id="Create" disabled><span class="glyphicon glyphicon-file"></span>Assign</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script src="~/Scripts/ValidateRequiredFields.js"></script>

    <script>
        $(document).ready(function () {

            //$('#Create').on('click', function () {
            //    var isValidated = false;
            //    var requiredArr = [
            //        'Code',
            //        'MarketingAgentCode'
            //    ];
            //    isValidated = ValidateEmptyRequiredFiels(requiredArr);
            //    if (isValidated) {
            //        $('#AssignFranchiseForm').submit();
            //    }
            //});

            $(document).on('click', '.Save', function () {
                $('#AssignFranchiseForm').submit();

            });
            
            $('#DeliveryBoyCode').select2({
                placeholder: "Search Delivery Boy",
                ajax: {
                    url: "/DeliveryBoy/GetDeliveryBoySelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="DeliveryBoyName"]').val(e.params.data.text);
                var dbcode = $('#DeliveryBoyCode').val();
                var macode = $('#MarketingAgentCode').val();
                if (dbcode != null && macode != null) {
                    $('#Create').prop('disabled', false);
                }
            });

            $('#MarketingAgentCode').select2({
                placeholder: "Search Marketing Agent",
                ajax: {
                    url: "/DeliveryBoy/GetMarketingAgentSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="MarketingAgentName"]').val(e.params.data.text);
                var dbcode = $('#DeliveryBoyCode').val();
                var macode = $('#MarketingAgentCode').val();
                if (dbcode != null && macode != null) {
                    $('#Create').prop('disabled', false);
                }
            });

            

        });
    </script>
}