@model IEnumerable<ShopNow.ViewModels.DeliveryBoyCreditAmountViewModel.CreditAmountList>
@using GridMvc.Html
@{
    ViewBag.Title = "Delivery Boy Credit Amount Report";
}
<title>ShopNow | Delivery Boy Credit Amount </title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
@using (Html.BeginForm("CreditAmount", "DeliveryBoy", FormMethod.Post, new { id = "CreditAmountForm", role = "form", enctype = "multipart/form-data" }))
{
<div class="container-fluid">
    <div class="row my-2 d-print-none">
        <div class="col-md-6">
            <h5 class="text-success">Delivery Boy Credit Amount</h5>
        </div>
        <div class="col-md-6 text-right">
            <input type="button" id="btnPrint" class="btn btn-vsm btn-secondary mx-2" value="Print" />
            <input type="button" id="btnExport" class="btn btn-vsm btn-secondary" value="Export To Excel" />
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center d-none d-print-block">DeliveryBoy Credit Amount</h4>
                    @Html.Grid(Model).Columns(columns =>
{
columns.Add(c => c.DeliveryBoyName).Titled("Delivery Boy Name").Filterable(true).SetWidth(10);
columns.Add(c => c.GrossDeliveryCharge).Titled("Credit Amount").Filterable(true).SetWidth(10);
}).WithPaging(25).Sortable(true)
                </div>
            </div>
        </div>
    </div>
</div>
}
@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script src="~/Scripts/exporttoexcel/jquery.table2excel.js"></script>
    <script>
        $(document).ready(function () {
         
            $('#btnPrint').click(function () {
                $('.container-fluid *').removeClass('card');
                $('.container-fluid *').removeClass('card-body');
                //$('.dataTables_info').addClass('d-none');
                //$('.dataTables_paginate').addClass('d-none');
                window.print();
            });

            $("#btnExport").click(function () {
                $("#CreditAmount-list").table2excel({
                    name: "Worksheet Name",
                    filename: "DeliveryBoyCreditAmountReport",
                    fileext: ".xls",
                    exclude_links: true,
                });
            });

        });

    </script>
}