@model IEnumerable<ShopNow.Models.SubCategory>
@using GridMvc.Html
@{
    ViewBag.Title = "SubCategory";
}
<title>ShopNow | Sub Category List</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<style>
    .table td, .table th {
        border-top: 1px solid #eaeaea;
        vertical-align: middle;
        padding: .4rem 1.25rem;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h5 style="letter-spacing:1px">SUB CATEGORY LIST</h5>
        </div>
        <div class="col-md-6 text-right">
            <a data-toggle="modal" data-target="#createModal" href="createModal"><span class="fa fa-plus"></span> New Sub Category</a>
        </div>
    </div>

    @Html.Grid(Model).Columns(columns =>
{
columns.Add(s => s.CategoryName).Titled("Category Name").Filterable(true).SetWidth(10);
columns.Add(s => s.Name).Titled("SubCategory Name").Filterable(true).SetWidth(10);
columns.Add(s => s.ProductTypeName).Titled("Item Type").Filterable(true).SetWidth(10);
columns.Add(s => s.Adscore).Titled("Adscore").Filterable(true).SetWidth(10);
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { id = @ShopNow.Helpers.AdminHelpers.ECodeInt(o.Id) }, new { @class = "btn btn-vsm btn-warning mr-1", @style = "padding: 3px 26px" }).ToHtmlString()
                   + Html.ActionLink("Delete", "Delete", new { id = o.Id }, new { @class = "btn  btn-vsm btn-danger", @style = "padding: 3px 18px" }).ToHtmlString()).Titled("Action").SetWidth(15);
            }).WithPaging(20).Sortable(true)
</div>

@*<div class="modal fade" id="deleteModal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-danger">
                <h4 class="modal-title" id="myModalLabel">Warning</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="success-message">Are you sure want to delete this record? </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success delete-confirm">Yes</button>
                <button class="btn btn-danger" data-dismiss="modal">No</button>
                <input type="hidden" name="Code" id="Code" data-dismiss="modal" />
            </div>
        </div>
    </div>
</div>*@
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-info">
                <h5 class="modal-title" id="createModalLabel">SubCategory Entry</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="col-form-label font-weight-bold text-secondary">Sub Category Name</label>
                        <input type="text" name="Name" id="Name" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label font-weight-bold text-secondary">Category Name</label>
                        <select name="CategoryId" class="form-control" id="CategoryId"></select>
                        <input type="hidden" name="CategoryName" id="CategoryName" />
                        <input type="hidden" name="ProductTypeId" id="ProductTypeId" />
                        <input type="hidden" name="ProductTypeName" id="ProductTypeName" />
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label font-weight-bold text-secondary">Adscore</label>
                        <input type="number" min="1" value="1" name="Adscore" id="Adscore" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="Create" name="Create" value="Save" class="btn btn-success float-right Save" />
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/ValidateRequiredFields.js"></script>
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $('#ProductTypeId').on('change', function () {
                let selectedType = $(this).find("option:selected").text();
                $('[name="ProductTypeName"]').val(selectedType);
            });
            $('#CategoryId').select2({
                dropdownParent: $('#createModal'),
                placeholder: "Search Category",
                width: '100%',
                ajax: {
                    url: "/SubCategory/GetCategorySelect2",
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="CategoryName"]').val(e.params.data.text);
                $('input[name="ProductTypeId"]').val(e.params.data.ProductTypeId);
                $('input[name="ProductTypeName"]').val(e.params.data.ProductTypeName);
            });
        
            $('#Create').on('click', function () {
                var isValidate = false;
                var requiredArr = [
                    'Name',
                    'ProductTypeId',
                    'CategoryId'
                ];
                isValidate = ValidateEmptyRequiredFiels(requiredArr);
                if (isValidate) {
                    var subCategory = {
                        Name: $('#Name').val(),
                        CategoryId: $("#CategoryId").val(),
                        CategoryName: $("#CategoryName").val(),
                        ProductTypeId: $('#ProductTypeId').val(),
                        ProductTypeName: $('#ProductTypeName').val(),
                        Adscore: $('#Adscore').val()
                    }
                    $.post("/SubCategory/Save", { subCategory: subCategory }, function (data) {
                        if (data.IsAdded == true) {
                            swal({
                                title: data.message,
                                text: "",
                                type: "success"
                            }, function () {
                                window.location.reload();
                            });
                        } else {
                            if (data.message1 != null || data.message1 != "") {
                                swal(data.message1, "", "warning");
                                $('#Name').val("");
                                $('#ProductType').val("");
                                $("#CategoryId").val("");
                            }
                        }
                    });
                }
            });

            //$(".delete-prompt").click(function () {
            //    var code = $(this).attr('data-id');
            //    $("#Code").val(code);
            //});

            //$(".delete-confirm").click(function () {
            //    var code = $("#Code").val();
            //    $.getJSON("/SubCategory/Delete", { id: code }, function (data) {
            //        window.location.reload();
            //    });
            //});

        });

    </script>
}


