@model IEnumerable<ShopNow.ViewModels.ProductSpecificationListViewModel.ProductSpecificationList>
@using GridMvc.Html
@{
    ViewBag.Title = "Electronic Specification List";
}
<title>ShopNow | @ViewBag.Title</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<div class="container-fluid">
    <div class="row my-2">
        <div class="col-md-6">
            <h5 class="text-success">@ViewBag.Title</h5>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/ProductSpecification/Create" target="_self"><span class="fa fa-plus"></span> Electronic Specification</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mt-3">
                <div class="card-body">
                    @Html.Grid(Model).Columns(columns =>
                    {
                         columns.Add(b => b.MasterProductName).Titled("MasterProduct").Filterable(true).SetWidth(20);
                         columns.Add(b => b.SpecificationName).Titled("Specification").Filterable(true).SetWidth(20);
                         columns.Add(b => b.Value).Titled("Value").Filterable(true).SetWidth(20);
                         columns.Add().Encoded(false).Sanitized(false).Titled("Action").Filterable(false).SetWidth(20)
                        .RenderValueAs(b => @<div>
                                <a href="~/ProductSpecification/Edit?id=@ShopNow.Helpers.AdminHelpers.ECodeInt(b.Id)" class="text-info mr-5"><i class="fa fa-edit fa-lg"></i></a>
                                <a href="javascript:void(0)" data-id="@ShopNow.Helpers.AdminHelpers.ECodeInt(b.Id)" class="text-danger btnDelete"><i class="fa fa-trash fa-lg"></i></a>
                            </div>);
                    }).WithPaging(20).Sortable(true)
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {

            var t = $('#ProductSpecification-list').DataTable({
                "dom": "<'row'<'col-sm-6'f>>" +
                    "<'row'<'col-sm-5'i><'col-sm-3'l><'col-sm-4'p>>" +
                    "<'row'<'col-sm-12'tr>>",
                "bPaginate": false,
                "scrollY": 400,
                "paging": true,
                "lengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "ALL"]],
                "pageLength": 20,
                initComplete: function (settings, json) {
                    $('.index input').remove();
                    $('.action-btn input').remove();
                    $('.dataTables_filter input').appendTo('.data-search');
                    $('.dataTables_filter label').remove();
                    $('.data-search input').attr('placeholder', 'Quick Search');
                    $('.data-search input').addClass('form-control');
                    $('.data-search input').removeClass('form-control-sm');
                },
            });

            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

            $(".btnDelete").click(function () {
                var Id = $(this).attr('data-id');
                swal({
                    title: "Are you sure want to delete?",
                    text: "You will not be able to recover this file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, Delete it!",
                    cancelButtonText: "No, cancel",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.getJSON("/ProductSpecification/Delete", { id: Id }, function (data) {
                                if (data == true) {
                                    window.location.reload();
                                }
                            });
                        }
                    }
                );
            });

        });
    </script>
}

