@model ShopNow.ViewModels.DishAddOnCreateEditViewModel
@{
    ViewBag.Title = "Dish AddOn Entry";
}
<title>ShopNow | Dish Addon</title>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h5 class="text-success" style="letter-spacing:1px">Dish AddOn Entry</h5>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/DishAddOn/List" target="_self"><span class="fa fa-bars"></span>&nbsp;Dish AddOn List</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            @using (Html.BeginForm("Create", "DishAddOn", FormMethod.Post, new { id = "DishAddOnForm", enctype = "multipart/form-data" }))
            {
            <div class="card">
                <!--  <div class="card-header">
          <h5>Dish AddOn Entry Form</h5>
      </div>-->
                <div class="card-body">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">
                                <strong class="text-secondary">Dish Name</strong>
                            </label>
                            <div class="form-group">
                                <select id="MasterProductCode" name="MasterProductCode" class="form-control"></select>
                                <input type="hidden" name="MasterProductName" id="MasterProductName" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label"><strong class="text-secondary">Addon Item Name</strong></label>
                            <div class="form-group">
                                <input type="text" name="Name" id="Name" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" for="PortionCode"><strong class="text-secondary">Portion Name</strong></label>
                            <div class="form-group">
                                <select id="PortionCode" name="PortionCode" class="form-control"></select>
                                <input type="hidden" name="PortionName" id="PortionName" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label"><strong class="text-secondary">AddOn Category</strong></label>
                            <div class="form-group">
                                <select class="form-control" name="AddOnCategoryCode" id="AddOnCategoryCode"></select>
                                <input type="hidden" name="AddOnCategoryName" id="AddOnCategoryName" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label" for="CrustName"><strong class="text-secondary">Crust Name</strong></label>
                                <input type="text" class="form-control" name="CrustName" id="CrustName" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label" for="Qty"><strong class="text-secondary">Quantity</strong></label>
                                <input type="number" class="form-control" name="Qty" id="Qty" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label" for="Price"><strong class="text-secondary">Price</strong></label>
                                <input type="number" class="form-control" name="Price" id="Price" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3 mx-auto">
                            <button type="button" class="btn btn-block btn-success Save" id="Create"><span class="glyphicon glyphicon-file"></span> Save</button>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script src="~/Scripts/ValidateRequiredFields.js"></script>
    <script>
        $(document).ready(function () {
            $('#Create').on('click', function () {
                var isValidated = false;
                var requiredArr = [
                    'MasterProductName',
                    'Name',
                    'PortionCode',
                    'AddOnCategoryCode',
                    'CrustName',
                    'Price'
                ];
                isValidated = ValidateEmptyRequiredFiels(requiredArr);

                if (isValidated) {
                    $($(this)).prop('disabled', true)
                    $('#DishAddOnForm').submit();
                };
            });

            $('#MasterProductCode').select2({
                placeholder: "Search Dish",
                ajax: {
                    url: "/Product/GetDishMasterProductSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="MasterProductName"]').val(e.params.data.text);
            });
            $('#PortionCode').select2({
                placeholder: "Search Portion",
                ajax: {
                    url: "/DishAddOn/GetCustomiseSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="PortionName"]').val(e.params.data.text);
            });
            $('#AddOnCategoryCode').select2({
                placeholder: "Search Addon Category",
                ajax: {
                    url: "/DishAddOn/GetAddonCategorySelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="AddOnCategoryName"]').val(e.params.data.text);
            });


        });
    </script>
}
