@model IEnumerable<ShopNow.ViewModels.DishAddOnListViewModel.DishAddOnList>
@using GridMvc.Html
@{
    ViewBag.Title = "Dish Addon List";
}
<title>ShopNow | Dish Addon List</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h5 class="text-success" style="letter-spacing:1px">Dish AddOn List</h5>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/DishAddOn/Create" target="_blank"><span class="fa fa-plus"></span>&nbsp;Dish Addon</a>
        </div>
    </div>
    @Html.Grid(Model).Columns(columns =>
{
columns.Add(b => b.Name).Titled("Name").Filterable(true).SetWidth(20);
columns.Add(b => b.MasterProductName).Titled("Master Product").Filterable(true).SetWidth(20);
columns.Add(b => b.AddOnCategoryName).Titled("AddOn Category").Filterable(true).SetWidth(20);
columns.Add(b => b.PortionName).Titled("Customize Name").Filterable(true).SetWidth(20);
columns.Add(b => b.CrustName).Titled("Crust Name").Filterable(true).SetWidth(20);
columns.Add(b => b.Price).Titled("Price").Filterable(true).SetWidth(20);
columns.Add()
.Encoded(false)
.Sanitized(false)
.RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { code = @ShopNow.Helpers.AdminHelpers.ECode(o.Code) }, new { @class = "btn btn-vsm btn-warning mr-1", @style = "padding: 3px 26px" }).ToHtmlString()
               + Html.ActionLink("Delete", "Delete", new { code = @ShopNow.Helpers.AdminHelpers.ECode(o.Code) }, new { @class = "btn  btn-vsm btn-danger", @style = "padding: 3px 18px" }).ToHtmlString()).Titled("Action").SetWidth(10);
     }).WithPaging(20).Sortable(true)

</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            var t = $('#dishaddon-list').DataTable({
                "dom": "<'row'<'col-sm-6'f>>" +
                    "<'row'<'col-sm-5'i><'col-sm-3'l><'col-sm-4'p>>" +
                    "<'row'<'col-sm-12'tr>>",
                "bPaginate": false,
                "scrollY": 400,
                "paging": true,
                "lengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "ALL"]],
                "pageLength": 20,
                initComplete: function (settings, json) {
                    $('.index input').remove();
                    $('.action-btn input').remove();
                    $('.dataTables_filter input').appendTo('.data-search');
                    $('.dataTables_filter label').remove();
                    $('.data-search input').attr('placeholder', 'Quick Search');
                    $('.data-search input').addClass('form-control');
                    $('.data-search input').removeClass('form-control-sm');
                },
            });

            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
    </script>
}