@model IEnumerable<ShopNow.ViewModels.BannerListViewModel.BannerList>
@using GridMvc.Html
@{
    ViewBag.Title = "Banner List";
}
<title>ShopNow | Banner List</title>
<link href="~/Content/switch.css" rel="stylesheet" />
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<div class="container-fluid">
    <div class="row my-2">
        <div class="col-md-6">
            <h5 class="text-theme_SemiDark" style="letter-spacing:1px">Banner List</h5>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Banner/PendingList" target="_self"><span class="fa fa-list-ul"></span> Pending Banner list</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    @Html.Grid(Model).Columns(columns =>
               {
               columns.Add().RenderValueAs(s => (s.CreditType == 3 ? "Shop Banner" : s.CreditType == 4 ? "Product Banner" : "N/A")).Titled("Banner Type").Filterable(true).SetWidth(10);
               columns.Add(s => s.BannerName).Titled("Banner Name").Filterable(true).SetWidth(10);
               columns.Add(s => s.ShopName).Titled("Shop Name").Filterable(true).SetWidth(15);
               columns.Add(s => s.FromDate).Format("{0:dd/MMM/yyyy}").Titled("From Date").Filterable(true).SetWidth(10);
               columns.Add(s => s.ToDate).Format("{0:dd/MMM/yyyy}").Titled("To Date").Filterable(true).SetWidth(10);
               columns.Add().Encoded(false).Sanitized(false).Titled("Image").Filterable(false).SetWidth(10).RenderValueAs(s => @<div><a href="~/Home/ImageDenied" data-toggle="modal" data-target="#myModal" title="Click Here To Preview!"><img id='img-upload' src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@s.Bannerpath" class="img-thumbnail BannerImage" width="60" height="60" onerror="this.src='/Images/No Photo.png'" /></a></div>);
                 columns.Add()
                 .Encoded(false)
                 .Sanitized(false)
                 .RenderValueAs(s => Html.ActionLink("Edit", "Edit", new { id = ShopNow.Helpers.AdminHelpers.ECodeInt(s.Id) }, new { @class = "btn btn-warning btn-vsm mr-1", @Style = "padding:3px 26px" }).ToHtmlString()
                 + Html.ActionLink("Delete", "Delete", new { id = s.Id }, new { @class = "btn btn-danger btn-vsm", @style = "padding:3px 18px" }).ToHtmlString()).Titled("Action").SetWidth(20);

                 columns.Add()
              .Encoded(false)
              .Sanitized(false)
               .RenderValueAs(s => new HtmlString
                        ("<label class='switch'> <input type='checkbox' value='" + s.Status + "' data-id='"+s.Id+"' Id='Id_" + s.Id + "' class='check-active' data-code='" + s.Id + "'><span class='slider round'></span></label>")).Titled("IsActive").SetWidth(10);
             }).WithPaging(10).Sortable(true)
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <span class="close" data-dismiss="modal">&times;</span>
        <img class="modal-content" id="myImage">
    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {

            var modal = document.getElementById('myModal');
            var img = document.getElementsByClassName('BannerImage');
            var modalImg = document.getElementById("myImage");
            $(img).click(function () {
                modal.style.display = "block";
                modalImg.src = this.src;
                if (this.src == "") {
                    $('#myModal').hide();
                }
                else {
                    $('#myModal').modal('show');
                }
            });

            $('table tbody tr').each(function () {
                var $this = $(this).find(".check-active");
                if ($this.val() == '0')
                    $this.prop('checked', true);
                else
                    $this.prop('checked', false);
            });

            $('.check-active').on('click', function () {
                var id = $(this).data('id');
                if ($(this).is(':checked') == true) {
                    $.post('/Banner/UpdateActive', { id: id, status: 0 }, function () { });
                }
                else {
                    $.post('/Banner/UpdateActive', { id: id, status: 2 }, function () { });
                }
            });
        });

    </script>
}

