
@{
    ViewBag.Title = "Publish";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <img src="../Images/503.png" style="width:80%;height:100vh;margin:auto;display:block;" />
</body>
</html>

