@model ShopNow.ViewModels.ProductUpdateStockViewModel
@{
    ViewBag.Title = "Update Product Stock";
}
<title>ShopNow | @ViewBag.Title</title>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mx-auto mt-3">
            <h4 class="text-success" style="letter-spacing:1px">@ViewBag.Title</h4>
            <div class="card shadow">
                <div class="card-body">
                    <form action="/Product/UpdateStockValue" method="post" id="StockUpdateForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Select Shop</label>
                                    <select id="ShopId" class="form-control" name="ShopId"></select>
                                    <input type="hidden" name="ShopName" id="ShopName" />
                                </div>
                            </div>
                            <div class="form-group w-25">
                                <label class="col-form-label">Quantity</label>
                                <input type="number" name="Qty" id="Qty" class="form-control" />
                            </div>
                        </div>
                        <div class="mx-auto col-3"><input type="button" value="Update" class="btn btn-success" id="btnFetch" /></div>
                        <div class="mx-auto col-3"><button class="btn btn-success d-none" id="btnSpinner"><span class="spinner-border spinner-border-sm"></span>Loading... </button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $('#ShopId').select2({
                placeholder: "Search Shop",
                ajax: {
                    url: "/Product/GetActiveShopSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="ShopName"]').val(e.params.data.text);
            });

            $("#btnFetch").click(function () {
                var shopid = $("#ShopId").val();
                var qty = $("#Qty").val();
                if (shopid != null) {
                    if (qty != 0) {
                        $("#btnFetch").prop("disabled", true);         // disable button
                        // add spinner to button
                        $("#btnFetch").addClass("d-none");
                        $("#btnSpinner").removeClass("d-none");
                        $("#StockUpdateForm").submit();
                    } else {
                        swal("Warning!", "Please type Quantity!", "warning");
                    }
                }
                else {
                    swal("Warning!", "Please Select Shop!", "warning");
                }
            });
        });
    </script>
}