<link href="~/Scripts/fontawesome-free-5.12.0-web/css/all.css" rel="stylesheet" />

<style type="text/css">
    .admin {
        /*background-image: linear-gradient(87deg,#3023ae,#c86dd7);*/
        /*background-color: green;*/
        background-color: #4CAF50;
    }

    .adminimg {
        max-width: 100px;
        height: 50px;
    }

    .tx {
        font-size: 17px;
    }
</style>

<nav class="navbar navbar-expand-sm navbar-dark admin fixed-top">
    <div class="container-fluid">

        <a class="navbar-brand" href="#"> <img class="adminimg rounded" src="~/Images/ShopNowChat Edit.png" /></a>
        <!-- Links -->
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link text-light font-weight-bold" href="~/BrandOwner/Dashboard"><i class="fas fa-palette"></i> Dashboard</a>
                </li>
                <li class="nav-item dropdown ml-3">
                    <a class="nav-link dropdown-toggle text-light font-weight-bold" href="#" id="navbardrop" data-toggle="dropdown">
                        <i class="fa fa-user-edit"></i> Profile
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="~/BrandOwner/Updation">Update</a>
                    </div>
                </li>
                <li class="nav-item dropdown ml-3">
                    <a class="nav-link dropdown-toggle text-light font-weight-bold" href="#" id="navbardrop" data-toggle="dropdown">
                        <i class="fas fa-store-alt"></i> Brand
                    </a>
                    <div class="dropdown-menu">
                        @*<a class="dropdown-item" href="~/Shop/List">Shop</a>*@
                        <a class="dropdown-item" href="~/BrandOwner/List">Brand List</a>
                    </div>
                </li>
            </ul>
            <div class="navbar-nav ml-auto">
                <a class="text-light font-weight-bold mt-2" href="#">
                    <span class="mr-2">Welcome!</span> @ViewBag.Name
                </a>
      
                <a href="/Home/LogOut" class="text-light nav-item nav-link mb-2 ml-5"> Log Out</a>
            </div>
        </div>
    </div>

</nav>




