<link href="~/Scripts/CustomScript/CustomNavBar.css" rel="stylesheet" />
<script src="~/Scripts/CustomScript/init.js"></script>
<style>
    .dropdown-menu {
        z-index: 999999 !important;
    }
</style>
<div class="preloader-it">
    <div class="loader-pendulums"></div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a href="~/Dashboard/Index"><img class="rounded ml-2" src="~/Images/ShopNowChat.png" style="width:50px;height:50px" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--Dashboard-->
            <li class="nav-item">
                <a class="nav-link" href="~/Support/LivePending">Dashboard</a>
            </li>
            <!--Admin-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <span class="text-uppercase text-white text-nowrap">Human Resource</span>
                                <ul class="nav flex-column text-nowrap">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Customer/Admin">Support Staff</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/DeliveryBoy/List">Delivery Boy</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/MarketingAgent/List">Franchise</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/WebAPI/Create">API Upload</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/WebAPI/TSUpdate">Shop API History</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Payment/Create">Add Shop Credits</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <span class="text-uppercase text-white text-nowrap">Access Policy</span>
                                <ul class="nav flex-column text-nowrap">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/AccessPolicy/List">Users Access</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/AccessPolicy/Index">Access Upload with Roles</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/AccessPolicy/Create">Access Entry</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Page/Create">Page Entry</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Page/Index">Page Upload</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <span class="text-uppercase text-white text-nowrap">Customer</span>
                                <ul class="nav flex-column text-nowrap">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Customer/List">Customer</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--  /.container  -->
                </div>
            </li>
            <!--Master Entry-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Master Entry
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="container">
                        <div class="row">
                            <!-- /.col-md-4  -->
                            <div class="col-md-4">
                                <span class="text-uppercase text-white">Creations</span>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Brand/List">Brand Create</a>
                                   
                                        <a class="nav-link" href="~/Category/List">Category Create</a>
                                    
                                        <a class="nav-link" href="~/SubCategory/List">Subcategory1 Create</a>
                                   
                                        <a class="nav-link" href="~/NextSubCategory/List">Subcategory2 Create</a>
                                   
                                        <a class="nav-link" href="~/MeasurementUnit/List">Measurement Unit Create</a>
                                   
                                        <a class="nav-link" href="~/Package/List">Package Name Create</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.col-md-4  -->
                            <div class="col-md-4">
                                <span class="text-uppercase text-white">Medical</span>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/MasterProduct/MedicalCreate">Drug Name Entry</a>
                                   
                                        <a class="nav-link" href="~/DrugCompoundDetail/List">Drug Compound Detail Entry</a>
                                    </li>
                                </ul>
                                <span class="text-uppercase text-white">Electronic</span>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/MasterProduct/ElectronicCreate">Electronic Name Entry</a>
                                   
                                        <a class="nav-link" href="~/Specification/List">Electronic Category Specification Entry</a>
                                   
                                        <a class="nav-link" href="~/ProductSpecification/Create">Electronic Specification Entry</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.col-md-4  -->
                            <div class="col-md-4">
                                <span class="text-uppercase text-white">Dish</span>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/MasterProduct/FoodCreate">Dish Name Entry</a>

                                        <a class="nav-link" href="~/Portion/List">Dish Portion Name Entry</a>

                                        <a class="nav-link" href="~/AddOnCategory/List">Dish AddOn Category Name Entry</a>
                                        <a class="nav-link" href="~/Crust/List">Dish Crust Name Entry</a>
                                    </li>
                                </ul>
                                <span class="text-uppercase text-white">Groceries</span>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/MasterProduct/FMCGCreate">FMCG Name Entry</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <span class="text-uppercase text-white">Shop</span>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/ShopCategory/List">Shop Category Entry</a>
                                   
                                        <a class="nav-link" href="~/DiscountCategory/List">Discount Category</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <span class="text-uppercase text-white">Bills</span>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Bill/DeliveryChargeList">Delivery Charge Entry</a>
                                   
                                        <a class="nav-link" href="~/Bill/DeliveryChargeAssign">Delivery Charge Assign</a>
                                    
                                        <a class="nav-link" href="~/PlatFormCreditRate/List">PlatForm CreditRate</a>
                                   
                                        @*<a class="nav-link" href="~/DiscountCategory/List">Discount Category</a>*@                                    
                                        <a class="nav-link" href="~/PincodeRate/List">Pincode Rate</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--  /.container  -->
                </div>
            </li>
            <!--Master Upload-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Master Upload
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="container">
                        <div class="row">
                            <!-- /.col-md-4  -->
                            <div class="col-md-4">
                                <span class="text-uppercase text-white">Items</span>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Brand/Index">Brand Upload</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Category/Index">Category Upload</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/MeasurementUnit/Index">MeasurementUnit Upload</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Package/Index">Package Upload</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.col-md-4  -->
                            <div class="col-md-4">
                                <span class="text-uppercase text-white">Dish</span>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/MasterProduct/FoodUpload">Dish Upload</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/ProductDishAddOn/Index">Dish AddOn Upload</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Portion/Index">Portion Upload</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/AddOnCategory/Index">AddOn Category Upload</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Crust/Index">Crust Upload</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.col-md-4  -->
                            <div class="col-md-4">
                                <span class="text-uppercase text-white">Medical</span>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/MasterProduct/MedicalUpload">Medical Upload</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/DrugCompoundDetail/Index">DrugCompoundDetail Upload</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <span class="text-uppercase text-white">FMCG</span>
                                <ul class="nav flex-column">
                                     <li class="nav-item">
                                        <a class="nav-link" href="~/MasterProduct/FMCGUpload">FMCG Upload</a>
                                    </li>
                                    @*<li class="nav-item">
                                        <a class="nav-link" href="~/Specification/Index">Product Categorywise Specification upload</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/ProductSpecification/Index">Productwise Specification upload</a>
                                    </li>*@
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <span class="text-uppercase text-white">Shops</span>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/ShopCategory/Index">Shop Category Upload</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--  /.container  -->
                </div>
            </li>
            <!--Customer-->
            @*<li class="nav-item">
                <a class="nav-link" href="~/Customer/List">Customer</a>
            </li>*@
            <!--Shop-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Shop
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="container">
                        <div class="row">
                            <!-- /.col-md-4  -->
                            <div class="col-md-4">
                                <label></label>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Shop/List">Shop</a>
                                        <a class="nav-link" href="~/Staff/List">Shop Staff</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <label></label>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link text-nowrap" href="~/Product/List">Shop Items</a>    
                                        <a class="nav-link text-nowrap" href="~/Bill/BillingChargeList">Shop Bill Charge Setting</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <label></label>
                                <ul class="nav flex-column">
                                    <li class="nav-item text-nowrap">
                                        <a class="nav-link" href="~/MasterProduct/ItemMapping">ShopItem Mapping</a>                                        
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <span class="text-uppercase text-white"> </span>
                            </div>
                        </div>
                    </div>
                    <!--  /.container  -->
                </div>
            </li>
            <!--Orders-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Orders
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <span class="text-uppercase text-white">Orders List</span>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Cart/List">Today's Order</a>
                                        <a class="nav-link" href="~/Cart/Pending">New Order</a>
                                        <a class="nav-link" href="~/Cart/OrderPrepared">Order is being Prepared</a>
                                        <a class="nav-link" href="~/Cart/DeliveryAgentAssigned">Delivery Agent Assigned</a>
                                        <a class="nav-link" href="~/Cart/WaitingForPickup">Waiting for Pickup</a>
                                        <a class="nav-link" href="~/Cart/OnTheWay">On the Way</a>
                                        <a class="nav-link" href="~/Cart/Delivered">Delivered</a>
                                        <a class="nav-link" href="~/Cart/Cancelled">Cancelled</a>
                                        <a class="nav-link" href="~/Cart/CustomerCancelled">Customer Cancelled</a>
                                        <a class="nav-link" href="~/Cart/CustomerNotPickupList">Customer Not Pickup</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!--Reports-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reports
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="container">
                        <div class="row">
                            <!-- /.col-md-4  -->
                            <div class="col-md-6">
                                @*<span class="text-uppercase text-white">Orders</span>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Cart/PendingReport">New Order</a>
                                        <a class="nav-link" href="~/Cart/DeliveryAgentAssignedReport">Delivery Agent Assigned</a>
                                        <a class="nav-link" href="~/Cart/WaitingForPickupReport">Waiting For Pickup</a>
                                        <a class="nav-link" href="~/Cart/OntheWayReport">On the Way</a>
                                    </li>
                                </ul>*@
                            </div>
                            @*<div class="col-md-4">
                                <label></label>
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Sales/Report">Sales</a>
                                        <a class="nav-link" href="~/Cart/ShopNowChat_ShopReport">Retailer Payment</a>
                                        <a class="nav-link" href="~/Cart/DeliveryBoy_ShopNowChatReport">DeliveryBoy Cash Handover</a>
                                        <a class="nav-link" href="~/Cart/ShopNowChat_DeliveryBoyReport">DeliveryBoy Payment</a>
                                    </li>
                                </ul>
                            </div>*@
                            <div class="col-md-4">
                                <label></label>
                                <ul class="nav flex-column">
                                    <li class="nav-item text-nowrap">
                                        <a class="nav-link" href="~/Payment/Report">Payments</a>
                                        <a class="nav-link" href="~/Payment/ShopPayment">Shop Payment</a>
                                        <a class="nav-link" href="~/Payment/RetailerPayment">Retailer Payment</a>
                                        <a class="nav-link" href="~/Payment/DeliveryBoyPayment">DeliveryBoy Payment</a>
                                        <a class="nav-link" href="~/Cart/DeliveryBoyPaymentStatus">DeliveryBoy Payment Status</a>
                                        <a class="nav-link" href="~/Cart/DeliveryBoyCashHandoverReport">DeliveryBoy Cash Handover</a>
                                        <a class="nav-link" href="~/Refund/Pending">Refund Pending</a>
                                        <a class="nav-link" href="~/Refund/History">Refund History</a>
                                        <a class="nav-link" href="~/Cart/DeliveredReport">Delivered Report</a>
                                        <a class="nav-link" href="~/Cart/CancelledReport">Cancelled Report</a>
                                        @*<a class="nav-link" href="~/DeliveryBoy/CreditAmount">DeliveryBoy Credit Amount</a>
        <a class="nav-link" href="~/DeliveryBoy/TodayCreditAmount">Today DeliveryBoy Credit Amount</a>
        <a class="nav-link" href="~/Payment/PlatformCreditReport">Platform Credit Report</a>
        <a class="nav-link" href="~/Payment/TodayPlatformCreditReport">Today Platform Credit Report</a>
        <a class="nav-link" href="~/Payment/DeliveryCreditReport">Delivery Credit Report</a>
        <a class="nav-link" href="~/Payment/TodayDeliveryCreditReport">Today Delivery Credit Report</a>
        <a class="nav-link" href="~/Cart/DeliveredAmountReport">Shop Delivered Amount Report</a>*@
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <span class="text-uppercase text-white"> </span>
                            </div>
                        </div>
                    </div>
                    <!--  /.container  -->
                </div>
            </li>
            <!--Support-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Support
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="container">
                        <div class="row">
                            <!-- /.col-md-4  -->
                            <div class="col-md-6">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/Support/LivePending">Live Pending Screen</a>
                                        <a class="nav-link text-nowrap" href="~/Support/LiveDeliveryBoyAssignment">Live DeliveryBoy Assignment</a>
                                        <a class="nav-link" href="~/Banner/List">Banner List</a>
                                        <a class="nav-link" href="~/PushNotification/">Push Notification</a>
                                        <a class="nav-link" href="~/OTP/">OTP List</a>
                                        <a class="nav-link" href="~/Offer/List">Offers</a>
                                        <a class="nav-link" href="~/Product/UpdateStock">Stock Update</a>
                                        <a class="nav-link" href="~/ApiSetting/List">Api Setting</a>
                                        <a class="nav-link" href="~/ReferralSetting/Index">Referral Setting</a>
                                        <a class="nav-link" href="~/AchievementSetting/List">Achievement Setting</a>
                                        <a class="nav-link" href="~/AppDetail/Index">App Details</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/ShopSchedule/Index">Shop Schedule</a>
                                        <a class="nav-link" href="~/ProductSchedule/Index">Product Schedule</a>
                                        <a class="nav-link" href="~/Cart/OrderRatios">Order Ratio</a>
                                        <a class="nav-link" href="~/SearchData/List">Customer Search List</a>
                                        <a class="nav-link" href="~/SearchData/Entry">Search Data Entry</a>
                                        <a class="nav-link" href="~/Product/ApplyDiscount">Apply Discount</a>
                                        @*<a class="nav-link" href="~/Bill/BillingChargeEmptyList">Billing Charge Empty List</a>*@
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--  /.container  -->
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="font-weight-bold text-light">
                <span class="">Hi</span> @ViewBag.Name
            </div>
            <div>
                <a href="/Home/LogOut" class="text-light nav-item nav-link"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </div>
        </form>
    </div>
</nav>

<script>
    $(document).ready(function () {
        // executes when HTML-Document is loaded and DOM is ready

        // breakpoint and up
        $(window).resize(function () {
            if ($(window).width() >= 980) {

                // when you hover a toggle show its dropdown menu
                $(".navbar .dropdown-toggle").hover(function () {
                    $(this).parent().toggleClass("show");
                    $(this).parent().find(".dropdown-menu").toggleClass("show");
                });

                // hide the menu when the mouse leaves the dropdown
                $(".navbar .dropdown-menu").mouseleave(function () {
                    $(this).removeClass("show");
                });

                // do something here
            }
        });

        // document ready
    });
</script>
