@{
    ViewBag.Title = "ErrorPage";
}
<title>SNOWCH | Error</title>
<body>
    <div class="container">
        <div class="row mx-auto">
            <div class="col-md-12 text-center my-3">
                <div style="font-size: 24px; margin-top:130px;">
                    <i class="fa fa-bug fa-2x text-theme_dark"></i><span class="fa fa-2x text-theme_dark ml-3">404 Error...</span>
                </div>
                <h3 class="text-theme my-3">Page not found</h3>
                <h5 class="text-theme_light my-3">We're sorry, the page you requested could not be found.</h5>
            </div>
        </div>
        <footer class="block py-4 fixed-bottom">
            <div class="col-md-12 mx-auto">
                <p class="text-center font-weight-normal small">&copy; Copyright 2020. All Rights Reserved.<br />ShopNow</p>
            </div>
        </footer>
    </div>
</body>




