
@{
    ViewBag.Title = "ImageDenied";
}
<title>ShopNow | Image Protected</title>
<body>
    <div class="container">
        <div class="row mx-auto">
            <div class="col-md-12 text-center my-5">
                <div style="font-size: 24px;">
                    <i class="fa fa-eye-slash fa-4x text-success mt-5"></i>
                </div>
                <h5>You don't have permission to view this Image</h5>
            </div>
        </div>
        <footer class="block py-4 fixed-bottom">
            <div class="col-md-12 mx-auto">
                <p class="text-center font-weight-normal small">&copy; Copyright 2020. All Rights Reserved.<br />ShopNow</p>
            </div>
        </footer>
    </div>
</body>
