@model ShopNow.ViewModels.BrandCreateEditViewModel
@{
    ViewBag.Title = "Brand Edit";
}

<div class="px-3 mb-3">
    <div class="d-flex flex-row my-3">
        <div class="button-group ml-auto">
            <a href="~/Brand/List" class="ml-auto" target="_blank"><u>Brand List</u></a>
        </div>
    </div>
</div>

<div class="container-fluid my-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            @using (Html.BeginForm("Edit", "Brand", FormMethod.Post, new { id = "BrandEditForm" }))
            {
                <input id="Code" type="hidden" class="form-control" value="@Model.Code" name="Code" />
                <div class="card">
                    <div class="card-header">
                        <span>Brand Update Form</span>
                    </div>
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="col-form-label"><strong class="text-secondary">Brand Name</strong></label>
                                <input id="Name" type="text" class="form-control" name="Name" value="@Model.Name" />
                            </div>
                            <div class="col-md-6">
                                <label class="col-form-label"><strong class="text-secondary">Item Type</strong></label>
                                <select name="ProductType" class="form-control">
                                    <option value="Product">Product</option>
                                    <option value="Dish">Dish</option>
                                    <option value="Service">Service</option>
                                    <option value="Medical">Medical</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-4 mx-auto">
                                <button type="submit" class="btn btn-block btn-success Update"><span class="glyphicon glyphicon-file"></span> Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script src="~/Scripts/ValidateRequiredFields.js"></script>
    <script>
      jQuery(document).ready(function ($) {
            $('select').find('option[value=@Model.ProductType]').attr('selected', 'selected');
        });

        $(".Update").click(function () {
            var isValidated = false;
            var requiredArr = [
                'Name'
            ];
            isValidated = ValidateEmptyRequiredFiels(requiredArr);

            if (isValidated) {
                $('#BrandEditForm').submit();
            };
        });
    </script>
}

