@media print {
    html, body {
        width: 210mm;
        height: 297mm;
    }

    #main-wrapper {
        visibility: hidden;
    }

    .print_visible {
        visibility: visible !important;
        font-family: 'Questrial','Lato','Arial' !important;
        color: black;
        font-size: 12pt;
        position: absolute;
        top: -15em;
        left: 0;
        -webkit-print-color-adjust: exact;
    }

    .print_margin_bot_50 {
        margin-bottom: 50px;
    }

    .print_margin_bot {
        margin-bottom: 20px;
    }

    .width_margin_bot {
        margin-bottom: 80px;
    }

    .print_header img {
        width: 100%;
    }

    .print_header {
        margin-bottom: 50px;
    }

   
    a[href]:after {
        content: none !important;
    }

    @page {
        size: legal;
        margin: 0mm;
    }

   @page :left {
        margin-left: 1cm;
    }

    @page :right {
        margin-left: 1cm;
    }
    .col-print-3 {
        width: 25%;
        float: left;
    }
    .col-print-6 {
        width: 50%;
        float: left;
    }
   
    .col-print-12 {
        width: 100%;
        float: left;
    }

    .col-md-offset-print-3 {
        margin-left: 25%;
    }
}
