.new-model {
    background-color: white;
    /*border-top-right-radius: 25px;
    border-top-left-radius: 25px;*/
    /*border-bottom: 9px solid #DCDCDC;*/
    /*border-left: 6px solid #DCDCDC;
    border-right: 3px solid #DCDCDC;*/
    /*border-bottom-left-radius: 35px;
    border-bottom-right-radius: 10px;*/
}

.addBackgroundBorder {
    background-color: #F6F8F8;
    /*border: 1px solid #1592E6;*/
    /*border-top-right-radius: 15px;
    border-top-left-radius: 15px;*/
    /*border-bottom: 1px solid #1592E6 !important;*/
}

.addBackground {
    background-color: #F6F8F8;
}
