@media print
{   
    #main-wrapper
    {
        visibility: hidden;
    }


    .print_visible {
        visibility: visible !important;
        font-family: 'Questrial','Lato','Arial' !important;
        color: black;
        font-size: 12pt;
        position: absolute;
        top: -7em;
        left: 0;
        -webkit-print-color-adjust: exact;
    }


    .print_margin_bot_50 {
        margin-bottom: 50px;
    }

    .print_margin_bot
    {
        margin-bottom: 20px;
    }
    .width_margin_bot {
        margin-bottom: 80px;
    }
    .print_header img {
        width: 100%;
    }
    .print_header {
        margin-bottom: 50px;
    }

    .background-grey {
        background-color: #808080 !important;
        padding: 10px 0 10px 0 !important;
    }
    .confirmation, .confirmation2{
        margin-top: 50px;
        width: 100%;
    }
    .confirmation .column {
        width: 50%;
        text-align: center;
    }
    .confirmation2 .column {
        width: 50%;
        text-align: center;
    }
    .date .column {
        width: 50%;
    }
    .date2 .column {
        width: 50%;
    }
    .turn_over .column
    {
        width: 50%;
    }
    .column span:first-child
    {
        text-align: left !important;
    }
    .column span
    {
        display: block !important;
    }

    .confirmation, .confirmation2, .turn_over {
        float: left;
        width: 50%;
        margin-bottom: 60px;
    }
    .confirmation2, .turn_over_date {
        position: absolute;
        left: 480px;
    }
    .date2 {
        top: 845px;
        position: absolute;
        left: 480px;
    }
    .turn_over_date {
        top: 960px;
        position: absolute;
        left: 480px;
    }

    a[href]:after {
        content: none !important;
    }
    
    @page {
        size: legal;
    }

    @page :left {
        margin-left: 1cm;
    }

    @page :right {
        margin-left: 1cm;
    }

}