@model ShopNow.ViewModels.AccessPolicyMasterViewModel
@using System.Data;
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>ShopNow | Access With Roles</title>
<div class="container">
    @using (Html.BeginForm("Index", "AccessPolicy", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-success">Access With Roles Master Excel Upload</h4>
                <div class="card shadow mt-3">
                    <div class="card-body">
                        <div class="row mt-3">
                            <div class="col-md-6 mb-2">
                                <input type="file" id="dataFile" name="upload" />
                                @if (Model != null)
                                {
                                    <input type="hidden" value="save" name="button" class="btn btn-secondary" />
                                }
                                else
                                {
                                    <input type="hidden" value="upload" name="button" class="btn btn-success" />
                                }
                            </div>
                            <div class="col-md-6">
                                <input type="submit" value="Upload" class="btn btn-success" />
                            </div>
                        </div>
                        <div class="row">
                            @if (Model != null)
                            {
                                <div class="col-md-12 my-2"> <hr class="border-success" style="border-top: 1px dashed" /></div>
                                <div class="col-md-5">
                                    <p class="text-success">Excel Headers</p>
                                    <table id="Page-list">
                                        <thead>
                                        </thead>
                                        <tbody>
                                            @foreach (DataColumn col in Model.DataTable.Columns)
                                            {
                                                <tr>
                                                    <td>@col.ColumnName</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <input id="FileName" name="FileName" type="hidden" value="@Model.Filename" />
                                    <hr class="border-success" style="border-top: 1px dashed" />
                                </div>
                                <div class="col-md-6">
                                    <p class="text-success">Choose Excel Headers</p>
                                    <table id="Database-list" class="w-100">
                                        <tbody>
                                            <tr>
                                                <td class="row">
                                                    <label class="col-md-5">Page Code</label>
                                                    <input id="PageCode" name="PageCode" type="text" class="col-md-4 form-control" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="row">
                                                    <label class="col-md-5">Page Name</label>
                                                    <input id="PageName" name="PageName" type="text" class="col-md-4 form-control" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="row">
                                                    <label class="col-md-5">Role</label>
                                                    <select id="Position" name="Position" class="col-md-4 form-control">
                                                        <option value="">Select</option>
                                                        <option value="0">User</option>
                                                        <option value="1">Shop Owner</option>
                                                        <option value="2">Staff</option>
                                                        <option value="3">Delivery Boy</option>
                                                        <option value="4">Admin</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="row">
                                                    <label class="col-md-5">Website</label>
                                                    <select id="Status" name="Status" class="col-md-4 form-control">
                                                        <option value="">Select</option>
                                                        <option value="0">ShopNow</option>
                                                        <option value="3">ShopNowPay</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="col-md-9 text-center my-3">
                                        <input type="submit" value="Submit" class="btn btn-success" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {

            var tbl = document.getElementById("Page-list");
            if (tbl != null) {
                for (var i = 0; i < tbl.rows.length; i++) {
                    for (var j = 0; j < tbl.rows[i].cells.length; j++)
                        tbl.rows[i].cells[j].onclick = function () { getval(this); };
                }
            }
            function getval(cel) {
                $(function () {
                    $('#PageName').on('click', function () {
                        $('#PageName').val(cel.innerHTML)
                    });
                    $('#PageCode').on('click', function () {
                        $('#PageCode').val(cel.innerHTML)
                    });
                });
            }
        });
    </script>
}



