@media print {
    .hide-print {
    display:none !important;
    }

    @media print {
        @page {
            margin-top: 0;
            margin-bottom: 0;
        }

        body {
            padding-top: 20px;
            padding-bottom: 20px;
            font-size:24px !important;
        }
    }
}
