

.text-theme_dark {
    color: #195c1c !important;
}

.text-theme {
    color: #1a7302 !important;
}

.text-theme_light {
    color: #55c836 !important;
}

.border-theme_light {
    border-color: #55c836 !important;
}