@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>ShopNow | Dashboard</title>
    <link href="~/Scripts/fontawesome-free-5.12.0-web/css/all.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/CustomScript/CustomDashboard.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body class="antialiased bg-green-200">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-sm">
                <section class="hk-sec-wrapper">
                    @*<div class="row">*@
                        @*<div class="col-sm">*@
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                                    <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-sm">
                                        <div class="flex-auto p-4">
                                            <div class="flex flex-wrap">
                                                <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                                                    <h5 class="text-gray-500 uppercase font-bold text-xs">
                                                        Customer
                                                    </h5>
                                                    <span class="font-semibold text-xl text-gray-800">
                                                        @ViewBag.Customer
                                                    </span>
                                                </div>
                                                <div class="relative w-auto pl-4 flex-initial">
                                                    <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-green-500">
                                                        <i class="fa fa-users"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="text-sm text-gray-500 mt-4">
                                                <span class="text-green-500 mr-2">
                                                    <i class="fas fa-arrow-up"></i> 3.48%
                                                </span>
                                                <span class="whitespace-no-wrap">
                                                    Available
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                                    <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-sm">
                                        <div class="flex-auto p-4">
                                            <div class="flex flex-wrap">
                                                <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                                                    <h5 class="text-gray-500 uppercase font-bold text-xs">
                                                        Shops
                                                    </h5>
                                                    <span class="font-semibold text-xl text-gray-800">
                                                        @ViewBag.Shops
                                                    </span>
                                                </div>
                                                <div class="relative w-auto pl-4 flex-initial">
                                                    <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-orange-500">
                                                        <i class="fas fa-store-alt"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="text-sm text-gray-500 mt-4">
                                                <span class="text-red-500 mr-2">
                                                    <i class="fas fa-arrow-down"></i> 3.48%
                                                </span>
                                                <span class="whitespace-no-wrap">
                                                    Available
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                                    <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-sm">
                                        <div class="flex-auto p-4">
                                            <div class="flex flex-wrap">
                                                <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                                                    <h5 class="text-gray-500 uppercase font-bold text-xs">
                                                        Delivery Boys
                                                    </h5>
                                                    <span class="font-semibold text-xl text-gray-800">
                                                        @ViewBag.Delivery
                                                    </span>
                                                </div>
                                                <div class="relative w-auto pl-4 flex-initial">
                                                    <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-pink-500">
                                                        <i class="fas fa-shipping-fast"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="text-sm text-gray-500 mt-4">
                                                <span class="text-orange-500 mr-2">
                                                    <i class="fas fa-arrow-down"></i> 1.10%
                                                </span>
                                                <span class="whitespace-no-wrap">
                                                    Available
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                                    <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-sm">
                                        <div class="flex-auto p-4">
                                            <div class="flex flex-wrap">
                                                <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                                                    <h5 class="text-gray-500 uppercase font-bold text-xs">
                                                        Order
                                                    </h5>
                                                    <span class="font-semibold text-xl text-gray-800">
                                                        @ViewBag.Order
                                                    </span>
                                                </div>
                                                <div class="relative w-auto pl-4 flex-initial">
                                                    <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-blue-500">
                                                        <i class="fas fa-shopping-bag"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="text-sm text-gray-500 mt-4">
                                                <span class="text-green-500 mr-2">
                                                    <i class="fas fa-arrow-up"></i> 12%
                                                </span>
                                                <span class="whitespace-no-wrap">
                                                    Available
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            @*</div>*@
                        </div>
                    @*</div>*@
                </section>

                <footer class="block py-4">
                    <div class="col-md-12 mx-auto">
                        <p class="text-center font-weight-light small">&copy; Copyright 2020. All Rights Reserved.<br /> Designed by ShopNow</p>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>

</html>

