@model ShopNow.ViewModels.OfferCreateViewModel
@{
    ViewBag.Title = "Offer Entry";
}

<title>ShopNow | @ViewBag.Title</title>

<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-10 mx-auto mt-3">
            <div class="d-flex justify-content-between">
                <h4 class="text-success" style="letter-spacing:1px">@ViewBag.Title</h4>
                <a href="/Offer/List"><u>Go To List</u></a>
            </div>
            <div class="card shadow">
                <div class="card-body">
                    <form action="/Offer/Create" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="col-form-label d-block">Choose Owner Type</label>
                                <div class="form-check-inline mr-5">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="OwnerType" value="1">Shop Now Chat
                                    </label>
                                </div>
                                <div class="form-check-inline mr-5">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="OwnerType" value="2">Shop Owner
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="OwnerType" value="3">Brand Owner
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label">Name</label>
                                    <input type="text" name="Name" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="col-form-label">Offer Code</label>
                                    <input type="text" name="OfferCode" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="div-shop" class="d-none">
                                    <div class="form-group">
                                        <label class="col-form-label">Select Shop</label>
                                        <select id="select-shop" name="ShopIds" class="form-control" multiple></select>
                                    </div>
                                </div>
                                <div id="div-brand" class="d-none">
                                    <div class="form-group">
                                        <label class="col-form-label">Select Brand</label>
                                        <select id="select-brand" name="BrandId" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-form-label">Discount Type</label>
                                    <select name="DiscountType" class="form-control" required>
                                        <option selected disabled>Select Discount Type</option>
                                        <option value="1">Direct Discount</option>
                                        <option value="2">Wallet Cashback</option>
                                        <option value="3">Free Product</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-form-label">Offer Type</label>
                                    <select name="Type" class="form-control" required>
                                        <option selected disabled>Select Offer Type</option>
                                        <option value="1">Cart Offer</option>
                                        <option value="2" disabled>Item Offer</option>
                                        <option value="3">Product Offer</option>
                                    </select>
                                </div>
                            </div>
                            <div id="div-products" class="col-md-4 d-none">
                                <div class="form-group">
                                    <label class="col-form-label">Select Product</label>
                                    <select id="select-product" name="ProductIds" class="form-control" multiple></select>
                                </div>
                            </div>
                            @*for single product choose*@
                            <div id="div-product" class="col-md-4 d-none">
                                <div class="form-group">
                                    <label class="col-form-label">Select Product</label>
                                    <select id="select-product-single" name="ProductIds" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="col-form-label">Offer Percentage</label>
                                    <input type="number" name="Percentage" class="form-control" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="col-form-label">Offer Quantity Limit</label>
                                    <input type="number" name="QuantityLimit" class="form-control" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="col-form-label">Offer Amount Limit</label>
                                    <input type="number" name="AmountLimit" class="form-control" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="col-form-label">Min Purchase Amount</label>
                                    <input type="number" name="MinimumPurchaseAmount" class="form-control" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="col-form-label">Customer Count Limit</label>
                                    <input type="number" name="CustomerCountLimit" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 pl-5 my-3">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" name="IsForFirstOrder" value="true">Only For First Order?
                                </label>
                            </div>
                            <div class="col-md-4 pl-5 my-3">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" name="IsForOnlinePayment" value="true">Only For Online Payment?
                                </label>
                            </div>
                            <div class="col-md-4 pl-5 my-3">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" name="IsForBlackListAbusers" value="true">Also For Black List Abusers?
                                </label>
                            </div>
                            <div class="col-md-12">
                                <label class="col-form-label">Description</label>
                                <textarea name="Description" class="form-control ckeditor"></textarea>
                            </div>
                        </div>
                        <div class="mx-auto col-6 mt-3"> <input type="submit" value="Create" class="btn btn-success btn-block" /></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script>
        $(document).ready(function () {

            $('#select-shop').select2({
                placeholder: "Search Shop",
                width: '100%',
                ajax: {
                    url: "/Cart/GetShopSelect2",
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                getProducts();
            }).on('select2:unselect', function (e) {
                getProducts();
            });

            $('#select-brand').select2({
                placeholder: "Search Brand",
                width: '100%',
                ajax: {
                    url: "/Product/GetBrandSelect2",
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                getProductsByBrand();
            }).on('select2:unselect', function (e) {
                getProductsByBrand();
            });

            $('[name="OwnerType"]').on('change', function () {
                var $value = $(this).val();
                $('#div-shop').addClass('d-none');
                $('#div-brand').addClass('d-none');

                if ($value == '1' || $value == '2') {
                    $('#div-shop').removeClass('d-none');
                    $('#div-brand').addClass('d-none');
                    $('#select-brand').val('').trigger('change');
                } else if ($value == '3') {
                    $('#div-shop').addClass('d-none');
                    $('#div-brand').removeClass('d-none');
                    $('#select-shop').val('').trigger('change');
                }
            });

            $('[name="Type"]').on('change', function () {
                var $value = $(this).val();
                $('#div-products').addClass('d-none');
                $('#div-product').addClass('d-none');
                $('[name="Percentage"]').val('');
                $('[name="Percentage"]').attr('readonly', false);
                $('[name="QuantityLimit"]').attr('readonly', false);
                $('[name="AmountLimit"]').attr('readonly', false);
                if ($value == '2') {
                    $('#div-products').removeClass('d-none');
                    $('#select-product').val('').trigger('change');
                    $('#select-brand').val('').trigger('change');
                    getProducts();
                } else if ($value == '3') {
                    $('#div-product').removeClass('d-none');
                    $('#select-product-single').val('').trigger('change');
                    $('#select-brand').val('').trigger('change');
                    getProducts();
                    $('[name="Percentage"]').val(100);
                    $('[name="Percentage"]').attr('readonly', true);
                    $('[name="QuantityLimit"]').attr('readonly', true);
                    $('[name="AmountLimit"]').attr('readonly',true);
                }
                else {
                    $('#div-products').addClass('d-none');
                    $('#select-product').val('').trigger('change');
                }
            });

            function getProducts() {
                var $selectedValues = $('#select-shop').val();
                $('#select-product,#select-product-single').select2({
                    placeholder: "Search Products",
                    width: '100%',
                    ajax: {
                        url: "/Product/GetProductByShopSelect2?shopIds=" + $selectedValues,
                        delay: 250,
                        dataType: 'json'
                    }
                });
            }

            function getProductsByBrand() {
                $('#select-product').val('').trigger('change');
                var $selectedValues = $('#select-brand').val();
                $('#select-product').select2({
                    placeholder: "Search Products",
                    width: '100%',
                    ajax: {
                        url: "/Product/GetProductByBrandSelect2?brandId=" + $selectedValues,
                        delay: 250,
                        dataType: 'json'
                    }
                });
            }

        });


    </script>
}
