@model ShopNow.ViewModels.OfferListViewModel
@using GridMvc.Html
@{
    ViewBag.Title = "Offers List";
}

<title>ShopNow | @ViewBag.Title</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>


<div class="container-fluid">
    <div class="d-flex justify-content-between">
        <h5 class="text-success" style="letter-spacing:1px">@ViewBag.Title</h5>
<a href="/Offer/Create"><u>Add New Offer</u></a>
    </div>
    <div class="row">
        <div class="col-md-12 mt-3">
            <div class="card shadow">
                <div class="card-body">
                    @Html.Grid(Model.ListItems).Columns(columns =>
               {
                   columns.Add(c => c.OwnerTypeText).Titled("Owner").Filterable(true).SetWidth(10);
                   columns.Add(c => c.Name).Titled("Name").Filterable(true).SetWidth(10);
                   columns.Add(c => c.TypeText).Titled("Type").Filterable(true).SetWidth(10);
                   columns.Add(c => c.DiscountTypeText).Titled("Discount Type").Filterable(true).SetWidth(10);
                   columns.Add(c => c.Percentage).Titled("Percentage Type").Filterable(true).SetWidth(10);
                   columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { id = @ShopNow.Helpers.AdminHelpers.ECodeInt(o.Id) }, new { @class = "btn btn-vsm btn-warning mr-2", }).ToHtmlString()
        + Html.ActionLink("Delete", "Delete", new { id = o.Id }, new { @class = "btn btn-vsm btn-danger", }).ToHtmlString()).Titled("Action").SetWidth(15);
               }).Sortable(true)
                </div>
            </div>
        </div>
    </div>
</div>
