@model ShopNow.ViewModels.PaymentCreateViewModel
@{
    ViewBag.Title = "Payment";
}
<title>SNOWCH | Credits</title>
<div class="container-fluid my-3">
    <div class="row mb-2">
        <div class="col-md-6">
            <h5 class="text-success">Shop Credits</h5>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Payment/CreditList" target="_self"><span class="fa fa-bars"></span> Shop Credit List</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Create", "Payment", FormMethod.Post, new { id = "CreateForm", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="card shadow">
                    <div class="card-header">
                        <label class="col-form-label text-success font-weight-bold mr-5">Credit Type</label>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="CreditType" value="0" checked>Platform Credit
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="CreditType" value="1">Delivery Credit
                            </label>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-md-3">
                                <label class="col-form-label">Shop Owner</label>
                                <select type="number" class="form-control" name="ShopId" id="ShopId"></select>
                                <input type="hidden" name="ShopName" id="ShopName" />
                            </div>
                            <div class="col-md-3">
                                <label class="col-form-label">Amount (Without GST)</label>
                                <input type="number" class="form-control" name="Amount" id="Amount" />
                            </div>
                            <div class="col-md-3">
                                <label class="col-form-label">GST Amount</label>
                                <input type="number" class="form-control" name="GSTAmount" />
                            </div>
                            <div class="col-md-3">
                                <label class="col-form-label">RazorPayId</label>
                                <input type="text" class="form-control" name="ReferenceCode" id="ReferenceCode" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2 text-center">
                                <input type="button" class="btn btn-success" id="Add" value="Add Credits" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/ValidateRequiredFields.js"></script>
    <script>
        $(document).ready(function () {
            $('#ShopId').select2({
                placeholder: "Search Shop",
                ajax: {
                    url: "/Payment/GetShopOwnerSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="ShopName"]').val(e.params.data.text);
            });

            $("#Add").click(function () {
                var isValidated = false;
                var requiredArr = [
                    'ShopName',
                    'Amount'
                ];
                isValidated = ValidateEmptyRequiredFiels(requiredArr);
                if (isValidated) {
                    $('#CreateForm').submit();
                };
            });

        });
    </script>
}

