@model IEnumerable<ShopNow.ViewModels.PlatformCreditReportViewModel.PlatformCreditReportList>
@using GridMvc.Html
@{
    ViewBag.Title = "Platform Credit Report";
}

<title>ShopNow | Platform Credit Report</title>

<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>

@using (Html.BeginForm("PlatformCreditReport", "Payment", FormMethod.Post, new { id = "PlatformCreditReportForm", role = "form", enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        <div class="my-2 row d-print-none">
            <div class="col-sm-6">
                <h5 class="text-success text-nowrap">Platform Credit Report</h5>
            </div>            
            <div class="col-sm-6 text-right">
                <input type="button" id="btnPrint" class="btn btn-vsm btn-secondary mx-2" value="Print" />
                <input type="button" id="btnExport" class="btn btn-vsm btn-secondary" value="Export To Excel" />
            </div>            
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center d-none d-print-block">Platform Credit Report</h4>
                        @Html.Grid(Model).Columns(columns =>
                       {
                          columns.Add(c => c.OrderNumber).Titled("OrderNumber").Filterable(true).SetWidth(10);
                          columns.Add().RenderValueAs(c => c.CartStatus == 6 ? "Delivered" : "N/A").Titled("Order Status").Filterable(true).SetWidth(10);
                          columns.Add(c => c.RatePerOrder).Titled("Platform Credit").Filterable(true).SetWidth(10);
                        }).WithPaging(25).Sortable(true)
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script src="~/Scripts/exporttoexcel/jquery.table2excel.js"></script>
    <script src="~/Scripts/datepicker.js"></script>

    <script>
        $(document).ready(function () {
            var startdate = $("#StartDate").val();
            var enddate = $("#EndDate").val();
            if (startdate != "") {
                var arr = startdate.split('/');
                var fromdate = arr[0] + "/" + arr[1] + "/" + arr[2];
                // $('#datepicker').val(fromdate);
                $('#datepicker').attr('value', fromdate);
            }
            if (enddate != "") {
                var arr = enddate.split('/');
                var todate = arr[0] + "/" + arr[1] + "/" + arr[2];
                // $('#datepicker1').val(todate);
                $('#datepicker1').attr('value', todate);
            }

            var t = $('#PlatformCredit-list').DataTable({
                "dom": "<'row'<'col-sm-6'f>>" +
                    "<'row'<'col-sm-5'i><'col-sm-3'l><'col-sm-4'p>>" +
                    "<'row'<'col-sm-12'tr>>",
                "bPaginate": false,
                "scrollY": 400,
                "paging": true,
                "lengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "ALL"]],
                "pageLength": 20,
                initComplete: function (settings, json) {
                    $('.index input').remove();
                    $('.action-btn input').remove();
                    $('.dataTables_filter input').appendTo('.data-search');
                    $('.dataTables_filter label').remove();
                    $('.data-search input').attr('placeholder', 'Quick Search');
                    $('.data-search input').addClass('form-control');
                    $('.data-search input').removeClass('form-control-sm');
                },
            });

            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

            $('#btnPrint').click(function () {
                $('.container-fluid *').removeClass('card');
                $('.container-fluid *').removeClass('card-body');
                //$('.dataTables_info').addClass('d-none');
                //$('.dataTables_paginate').addClass('d-none');
                window.print();
            });

            $("#btnExport").click(function () {
                $("#PlatformCredit-list").table2excel({
                    name: "Worksheet Name",
                    filename: "PlatformCreditReport",
                    fileext: ".xls",
                    exclude_links: true,
                });
            });

            $('#ShopId').select2({
                placeholder: "Search Shop",
                ajax: {
                    url: "/Payment/GetShopSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="ShopName"]').val(e.params.data.text);
            });

            $("#Filter").click(function () {
                var shopid = $("#ShopId").val();
                window.location.href = "/Payment/PlatformCreditReport/?shopid=" + shopid;
            });
        });
    </script>
}