@model ShopNow.ViewModels.CartReportViewModel
@using GridMvc.Html
@{
    ViewBag.Title = "Cancelled Report";
}
<title>ShopNow | Cancelled Report </title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>

<div class="container-fluid mb-3">
    <div class="row my-3 d-print-none">
        <div class="col-md-3">
            <h5 class="text-success text-nowrap">Cancelled Report</h5>
        </div>
        <div class="col-md-7">
            <form method="get" action="/Cart/CancelledReport">
                <div class="row">
                    <div class="col-md-4"><input type="date" class="form-control" name="StartDate" value="@Model.StartDate.Value.ToString("yyyy-MM-dd")" /></div>
                    <input type="submit" class="btn btn-info" value="Apply Filter" />
                </div>
            </form>
        </div>
        <div class="col-md-2 text-right">
            <button id="btnPrint" class="btn btn-sm btn-secondary mr-2" value="Print"><i class="fa fa-print fa-lg" aria-hidden="true"></i></button>
            <button id="btnExport" class="btn btn-sm btn-secondary" value="Export To Excel"><i class="fa fa-file-excel-o fa-lg" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center d-none d-print-block">Cancelled Report</h4>
                    @Html.Grid(Model.CancelledReportLists).Columns(columns =>
                   {
                       columns.Add(c => c.DateEncoded).Titled("Date").Filterable(true).SetWidth(10).Format("{0:dd-MM-yyyy hh:mm tt}");
                       columns.Add(c => c.OrderNumber).Titled("Order Number").Filterable(true).SetWidth(5);
                       columns.Add(c => c.ShopName).Titled("Shop Name").Filterable(true).SetWidth(15);
                       columns.Add(c => c.DeliveryAddress).Titled("Delivery Address").Filterable(true).SetWidth(25);
                       columns.Add(c => c.PhoneNumber).Titled("Phone Number").Filterable(true).SetWidth(15);
                      // columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => "<span>Cancelled</span>").Titled("Order Status").SetWidth(15);
                       columns.Add(c => c.CancelledRemark).Titled("Remarks").Filterable(true).SetWidth(25);
                   }).WithPaging(25).Sortable(true)
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <script src="~/Scripts/exporttoexcel/jquery.table2excel.js"></script>
    <script>
        $(document).ready(function () {
            $('#btnPrint').click(function () {
                $('.container-fluid *').removeClass('card');
                $('.container-fluid *').removeClass('card-body');
                $('.dataTables_info').addClass('d-none');
                $('.dataTables_paginate').addClass('d-none');
                window.print();
            });
            $("#btnExport").click(function () {
                $("table").table2excel({
                    name: "Worksheet Name",
                    filename: "CancelledReport",
                    fileext: ".xls",
                    exclude_links: true,
                });
            });
        });
    </script>
}

