@{
    ViewBag.Title = "Delivery Locations";
    var mapkey = Session["googleMApkey"];
}
<title>ShopNow | Delivery Locations</title>
<div class="container-fluid">
    <div class="row my-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                        <h4 class="text-success mb-3" style="letter-spacing:1px">@ViewBag.Title</h4>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex">
                                <div>
                                    <img src="~/Images/Location/orange-dot.png" style="width:25px;"/>
                                    <span> - Shop Location</span>
                                </div>
                                <div class="ml-5">
                                    <img src="~/Images/Location/pink-dot.png" style="width:25px;"/>
                                    <span> - Delivery Location</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="map" style="width: 100%; height: 80vh;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://maps.googleapis.com/maps/api/js?key=@mapkey&callback=initMap" async defer></script>
    <script>
        $(document).ready(function () {
            initMap();
        });
        function initMap() {
            var marker, i, linePath;

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                center: new google.maps.LatLng(8.515445784405719, 77.55386274315666),
                mapTypeId: google.maps.MapTypeId.ROADMAP,
               // styles: [{ "stylers": [{ "visibility": "off" }] }, { "featureType": "road", "stylers": [{ "visibility": "on" }, { "color": "#ffffff" }] }, { "featureType": "road.arterial", "stylers": [{ "visibility": "on" }, { "color": "#fee379" }] }, { "featureType": "road.highway", "stylers": [{ "visibility": "on" }, { "color": "#fee379" }] }, { "featureType": "landscape", "stylers": [{ "visibility": "on" }, { "color": "#f3f4f4" }] }, { "featureType": "water", "stylers": [{ "visibility": "on" }, { "color": "#7fc8ed" }] }, {}, { "featureType": "road", "elementType": "labels", "stylers": [{ "visibility": "off" }] }, { "featureType": "poi.park", "elementType": "geometry.fill", "stylers": [{ "visibility": "on" }, { "color": "#83cead" }] }, { "elementType": "labels", "stylers": [{ "visibility": "off" }] }, { "featureType": "landscape.man_made", "elementType": "geometry", "stylers": [{ "weight": 0.9 }, { "visibility": "off" }] }]
            });
         
            $.getJSON('/Cart/GetDeliveryLocations', function (data) {
                
                $.each(data, function (index, item) {
                    var infowindow = new google.maps.InfoWindow();

                    //Shops Marker
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(item.ShopLatitude, item.ShopLongitude),
                        map: map,
                        icon: '/Images/Location/orange-dot.png'
                    });
                   
                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            infowindow.setContent('<h5>' + item.ShopName + '</h5>' + '<p class="mb-1">' + item.ShopAddress + '</p>');
                            infowindow.open(map, marker);
                        }
                    })(marker, i));

                     //Delivery location Marker
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(item.CustomerLatitude, item.CustomerLongitude),
                        map: map,
                        icon: '/Images/Location/pink-dot.png'
                    });
                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            infowindow.setContent('<h5>' + item.OrderNumber + " - " + item.OrderTime + '</h5>' + '<p class="mb-1">' + item.CustomerAddress + '</p>' + '<p class="mb-1">Distance: ' + item.Distance + 'Kms</p>');
                            infowindow.open(map, marker);
                        }
                    })(marker, i));

                    //To Draw lines
                    var lineCoordinates = [
                        { lat: item.ShopLatitude, lng: item.ShopLongitude },
                        { lat: item.CustomerLatitude, lng: item.CustomerLongitude },
                    ];
                    linePath = new google.maps.Polyline({
                        path: lineCoordinates,
                        geodesic: true,
                        strokeColor: '#FF0000'
                    });

                    linePath.setMap(map);
                });
                
            });
        }
    </script>

}
