@model IEnumerable<ShopNow.ViewModels.CartListViewModel.TodayList>
@using GridMvc.Html
@{
    ViewBag.Title = "Cart List";
}
<title>ShopNow | Order List</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<style>
    .grid-mvc {
        overflow-x: scroll;
    }

        .grid-mvc table td1 {
            width: 50%;
        }
</style>
<div class="container-fluid">
    <div class="row my-2">
        <div class="col-md-3">
            <h5 class="text-success" style="letter-spacing:1px">ORDER LIST</h5>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-5">
                    <select name="ShopId" id="ShopId" class="form-control"></select>
                    <input type="hidden" name="ShopName" id="ShopName" />
                </div>
                <div class="col-md-2">
                    <input type="button" class="form-control btn btn-sm btn-success" name="Filter" id="Filter" value="Filter" />
                </div>
            </div>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-outline-success" href="/Cart/DeliveryLocationMap" target="_blank">Delivery Location Map</a>
        </div>
        <div class="col-md-12">
            <div class="card shadow mt-3">
                <div class="card-body">
                    @Html.Grid(Model).Columns(columns =>
               {
                   columns.Add(c => c.No).Titled("Sl.No").SetWidth(0);
                   columns.Add(c => c.OrderNumber).Titled("OrderNo").Filterable(true).SetWidth(10);
                   columns.Add(c => c.ShopName).Titled("Shop Name").Filterable(true).SetWidth(15);
                   columns.Add(c => c.ShopPhoneNumber).Titled("Shop PhoneNo").Filterable(true).SetWidth(25);
                   columns.Add(c => c.PaymentMode).Titled("PaymentMode").Filterable(true).SetWidth(25);
                   columns.Add(c => c.Amount).Titled("Amount").Filterable(true).SetWidth(10);
                   columns.Add(c => c.DeliveryAddress).Titled("Delivery Address").Filterable(true).SetWidth(30);
                   columns.Add(c => c.CustomerPhoneNumber).Titled("Cust.PhoneNo").Filterable(true).SetWidth(25);
                   //columns.Add(c => c.DateEncoded).Titled("Date").Filterable(true).SetWidth(10).Format("{0:dd-MMM-yyyy}");
                   columns.Add(c => c.OrderStatusText).Titled("Order Status").Filterable(true).SetWidth(15);
                   columns.Add().Encoded(false).Sanitized(false)
                   .RenderValueAs(o => Html.ActionLink("View", "Edit", new { OrderNumber = o.OrderNumber, id = @ShopNow.Helpers.AdminHelpers.ECodeLong(o.Id) }, new { @class = "btn btn-vsm btn-info", @style = "padding: 3px 26px" }).ToHtmlString() +
                   Html.ActionLink("Details", "Details", new { id = @ShopNow.Helpers.AdminHelpers.ECodeLong(o.Id) }, new { @class = "btn btn-vsm btn-secondary mt-1", @style = "padding: 3px 20px" }).ToHtmlString()).Titled("Action").SetWidth(5);
                   columns.Add().Encoded(false).Sanitized(false)
                .RenderValueAs(o => (o.RefundAmount == 0 || o.RefundAmount == null) ? "<a href='#modal-refund' data-id='" + o.Id + "' data-toggle='modal' data-target='#modal-refund' class='btn btn-sm btn-primary btn-modal-refund btn-block mt-3'>Refund</a>" : o.RefundAmount.Value > 0 ? "<span>" + o.RefundAmount + "(" + o.RefundRemark + ")" + "</span>" : "N/A").Titled("Refund").SetWidth(5);
               }).WithPaging(20).Sortable(true)
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-refund" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <form method="get" action="/Cart/AddRefundFromShopOrderProcessing">
                    <input type="hidden" name="Id" />
                    <input type="hidden" name="Redirection" value="0" />
                    <h5>Initiate Refund</h5>
                    <div class="form-group">
                        <label>Amount</label>
                        <input class="form-control" type="number" name="Amount" required />
                    </div>
                    <div class="form-group">
                        <label>Remarks</label>
                        <input class="form-control" type="text" name="Remark" required />
                    </div>
                    <div class="text-right">
                        <button class="btn btn-sm btn-success mr-3">Submit</button>
                        <button class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script>
        $(document).ready(function () {
            $('#ShopId').select2({
                placeholder: "Search Shop",
                ajax: {
                    url: "/Cart/GetShopSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="ShopName"]').val(e.params.data.text);
            });

            $("#Filter").click(function () {
                var shopId = $("#ShopId").val();
                window.location.href = "/Cart/List?shopId=" + shopId;
            });

            $(".btn-modal-refund").click(function () {
                var id = $(this).data('id');
                $('[name="Id"]').val(id);
                $('#modal-refund').modal('show');
            });

        });
    </script>
}

