@model ShopNow.ViewModels.ProductDishAddOnViewModel
@using System.Data;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>SNOWCH | Master DishAddOn Upload</title>
<div class="container">
    @using (Html.BeginForm("Index", "ProductDishAddOn", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="row">
            <div class="col-md-12">
                <h5>Master DishAddOn Upload</h5>
                <div class="row mt-3">
                    <div class="col-md-6 mb-2">
                        <input type="file" id="dataFile" name="upload" />
                        @if (Model != null)
                        {
                            <input type="hidden" value="save" name="button" class="btn btn-secondary" />
                        }
                        else
                        {
                            <input type="hidden" value="upload" name="button" class="btn btn-success" />
                        }
                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="Upload" class="btn btn-success" />
                    </div>
                </div>
                <div class="row">
                    @if (Model != null)
                    {
                        <div class="col-md-12 my-2"> <hr class="border-success" style="border-top: 1px dashed" /></div>
                        <div class="col-md-5">
                            <p class="text-success">Excel Headers</p>
                            <table id="Product-list">
                                <thead>
                                </thead>
                                <tbody>
                                    @foreach (DataColumn col in Model.DataTable.Columns)
                                    {
                                        <tr>
                                            <td>@col.ColumnName</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <input id="FileName" name="FileName" type="hidden" value="@Model.Filename" />
                            <hr class="border-success" style="border-top: 1px dashed" />
                        </div>
                        <div class="col-md-6">
                            <p class="text-success">Choose Excel Headers</p>
                            <table id="Database-list" class="w-100">
                                <tbody>
                                    <tr>
                                        <td>
                                            <label class="col-md-6">AddOnItemName</label>
                                            <input id="AddOnItemName" name="AddOnItemName" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-6">MasterProductName</label>
                                            <input id="MasterProductName" name="MasterProductName" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-6">AddOnCategoryName</label>
                                            <input id="AddOnCategoryName" name="AddOnCategoryName" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-6">PortionName</label>
                                            <input id="PortionName" name="PortionName" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-6">PortionPrice</label>
                                            <input id="PortionPrice" name="PortionPrice" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-6">AddOnsPrice</label>
                                            <input id="AddOnsPrice" name="AddOnsPrice" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-6">CrustPrice</label>
                                            <input id="CrustPrice" name="CrustPrice" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-6">AddOnType</label>
                                            <input id="AddOnType" name="AddOnType" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-6">CrustName</label>
                                            <input id="CrustName" name="CrustName" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-6">MinSelectionLimit</label>
                                            <input id="MinSelectionLimit" name="MinSelectionLimit" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-6">MaxSelectionLimit</label>
                                            <input id="MaxSelectionLimit" name="MaxSelectionLimit" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-md-10 text-center my-3">
                                <input type="submit" value="submit" class="btn btn-success" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->

    <script>
        $(document).ready(function () {
            var tbl = document.getElementById("Product-list");
            if (tbl != null) {
                for (var i = 0; i < tbl.rows.length; i++) {
                    for (var j = 0; j < tbl.rows[i].cells.length; j++)
                        tbl.rows[i].cells[j].onclick = function () { getval(this); };
                }
            }
            function getval(cel) {
                $(function () {
                    $('#AddOnItemName').on('click', function () {
                        $('#AddOnItemName').val(cel.innerHTML)
                    });
                    $('#MasterProductName').on('click', function () {
                        $('#MasterProductName').val(cel.innerHTML)
                    });
                    $('#AddOnCategoryName').on('click', function () {
                        $('#AddOnCategoryName').val(cel.innerHTML)
                    });
                    $('#PortionName').on('click', function () {
                        $('#PortionName').val(cel.innerHTML)
                    });
                    $('#PortionPrice').on('click', function () {
                        $('#PortionPrice').val(cel.innerHTML)
                    });
                    $('#AddOnsPrice').on('click', function () {
                        $('#AddOnsPrice').val(cel.innerHTML)
                    });
                    $('#CrustPrice').on('click', function () {
                        $('#CrustPrice').val(cel.innerHTML)
                    });
                    $('#AddOnType').on('click', function () {
                        $('#AddOnType').val(cel.innerHTML)
                    });
                    $('#CrustName').on('click', function () {
                        $('#CrustName').val(cel.innerHTML)
                    });
                    $('#MaxSelectionLimit').on('click', function () {
                        $('#MaxSelectionLimit').val(cel.innerHTML)
                    });
                    $('#MinSelectionLimit').on('click', function () {
                        $('#MinSelectionLimit').val(cel.innerHTML)
                    });
                });
            }

        });
    </script>
}

