@model ShopNow.ViewModels.WebApiCreateViewModel
@{
    ViewBag.Title = "TimeSpan Update";
}
<title>ShopNow | API History</title>
<style>
    p.p {
        margin-bottom: 0rem;
    }

    hr.c {
        margin-top: 0rem;
        margin-bottom: 0rem;
        border: 1;
        border-top: 1px dashed rgb(12, 144, 29);
    }
    .opa {
        opacity: 0.3;
    }
</style>

<div class="loading text-success d-none">
    Loading
    <span class="pulse"></span>
    <span class="pulse"></span>
    <span class="pulse"></span>
    <span class="pulse"></span>
</div>
<div class="container-fluid D_Load">
    <div class="row">
        <div class="col-md-4">
            <h5 class="mt-1 text-success" style="letter-spacing:1px">Shop API History</h5>
        </div>
        <div class="col-md-8 text-right">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            @using (Html.BeginForm("TSUpdate", "WebApi", FormMethod.Post, new { id = "WebApiTsUpdateForm", role = "form", enctype = "multipart/form-data" }))
            {
                <div class="card">
                    <div class="col-md-10 mx-auto">
                        <div class="card-body">
                            @Html.AntiForgeryToken()
                            <div class="form-group row">
                                <div class="col-md-3 text-md-left">
                                    <label class="col-form-label"><strong class="text-secondary">PIN Code</strong></label>
                                </div>
                                <div class="col-md-3">
                                    <input type="number" class="form-control" name="Pincode" id="Pincode" min="1" />
                                </div>
                                <div class="col-md-1">
                                    <input type="button" class="btn btn-success" id="Go" value="Go" />
                                </div>
                            </div>
                            <div class="d-none Pincode">
                                <div class="form-group row">
                                    <div class="col-md-3 text-md-left">
                                        <label class="col-form-label"><strong class="text-secondary">Shop Name</strong></label>
                                    </div>
                                    <div class="col-md-6">
                                        <select id="ShopCode" name="ShopCode" class="form-control"></select>
                                        <input type="hidden" name="ShopName" id="ShopName" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <div class="col-md-12 mx-auto">
                                            <label class="col-form-label"><strong class="text-secondary">Shop Details</strong></label>
                                            <hr class="c" />
                                            <div class="col-md-12">
                                                <span id="Shop"></span>
                                            </div>
                                            <div class="col-md-12">
                                                <span id="Address"></span>
                                                <label><span id="PhoneNumber"></span><span id="OwnerPhoneNumber"></span></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-8 mx-auto">
                                            <label class="col-form-label"><strong class="text-secondary">Latest Time Stamp</strong></label>
                                            <input type="hidden" id="LasttimeSpan" name="LasttimeSpan" />
                                            <hr class="c" />
                                        </div>
                                        <div class="col-md-8 mx-auto">
                                            <table role="presentation">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <label class="mb-0"><small>YYYY</small></label>
                                                        </td>
                                                        <td>
                                                            <label class="mb-0 ml-2"><small>MM</small></label>
                                                        </td>
                                                        <td>
                                                            <label class="mb-0 ml-2"><small>DD</small></label>
                                                        </td>
                                                        <td>
                                                            <label class="mb-0 ml-2"><small>HH</small></label>
                                                        </td>
                                                        <td>
                                                            <label class="mb-0 ml-2"><small>MM</small></label>
                                                        </td>
                                                        <td>
                                                            <label class="mb-0 ml-2 text-secondary"><small>SS</small></label>
                                                        </td>
                                                    </tr>
                                                    <tr class="text-left">
                                                        <td>
                                                            <label class="mb-0" id="year"></label>
                                                        </td>
                                                        <td>
                                                            <label class="mb-0 ml-2" id="month"></label>
                                                        </td>
                                                        <td>
                                                            <label class="mb-0 ml-2" id="date"></label>
                                                        </td>
                                                        <td>
                                                            <label class="mb-0 ml-2" id="hour"></label>
                                                        </td>
                                                        <td>
                                                            <label class="mb-0 ml-2" id="minute"></label>
                                                        </td>
                                                        <td>
                                                            <label class="mb-0 ml-2 text-secondary" id="seconds"></label>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12 mx-auto">
                                            <label class="col-form-label"><strong class="text-secondary">Time Stamp (Ex:20210313153006)</strong></label>
                                            <hr class="c" />
                                        </div>
                                        <div class="col-md-11 my-2">
                                            <input type="text" class="form-control" id="timeSpan" name="timeSpan" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-2 mx-auto">
                                        <button type="submit" class="btn btn-block btn-success Save" disabled><span class="glyphicon glyphicon-file"></span>Sync</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <link href="~/Scripts/CustomScript/CustomLayout.css" rel="stylesheet" />
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $("#Go").click(function () {
                var pincode = $("#Pincode").val();
                if (pincode == null || pincode == "") {
                    $(".Pincode").addClass("d-none");
                    swal("Notice!", "Please Enter Pincode!", "warning");
                } else {
                    $(".Pincode").removeClass("d-none");
                    //$(this).addClass("d-none");
                    $('#ShopCode').select2({
                        placeholder: "Search Shop",
                        ajax: {
                            url: "/WebApi/GetShopSelect2/?pincode=" + pincode,
                            width: '100%',
                            delay: 250,
                            dataType: 'json'
                        }
                    }).on('select2:select', function (e) {
                        $('input[name="ShopName"]').val(e.params.data.text);
                        $('#Shop').text(e.params.data.text);
                        $("#Address").text(e.params.data.address);
                        $("#PhoneNumber").text(e.params.data.phone);
                        $("#OwnerPhoneNumber").text(" / " + e.params.data.ownerphone);
                        $.getJSON('/WebApi/GetLastTS', { code: e.params.data.id }, function (data) {
                            $('#LasttimeSpan').val(data);
                            if (data == "empty") {

                            } else {
                                var res = data;
                                var year = res.slice(0, 4);
                                var month = res.slice(4, 6);
                                var date = res.slice(6, 8);
                                var hour = res.slice(8, 10);
                                var minute = res.slice(10, 12);
                                var seconds = res.slice(12, 14);
                                $("#year").text(year);
                                $("#month").text(month);
                                $("#date").text(date);
                                $("#hour").text(hour);
                                $("#minute").text(minute);
                                $("#seconds").text(seconds);
                                $(".Save").prop("disabled", false);
                            }
                        });
                    });
                }
            });
            $(".Save").click(function () {
                $(".loading").removeClass("d-none");
                $(".Save").prop("disabled", false);
                $(".D_Load").addClass("opa");
            });
        });
    </script>
}   