@model IEnumerable<ShopNow.ViewModels.ShopDiscountCategoryViewModel.CategoryList>
@using GridMvc.Html
@{
    ViewBag.Title = "List";
}
<title>ShopNowChat | Product Discount List</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
@using (Html.BeginForm("List", "ShopDiscountCategory", FormMethod.Post, new { id = "DiscountForm", role = "form", enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h5 class="mt-1" style="letter-spacing:1px">DISCOUNT CATEGORY LIST</h5>
            </div>
            <div class="col-md-2 col-sm-4 mb-2 data-search">
            </div>
            <div class="col-md-7 text-right">
                <a href="~/ShopDiscountCategory/Create" target="_self"><span class="fa fa-plus"></span>&nbsp;Discount Category</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body">
                        @Html.Grid(Model).Columns(columns =>
                   {
                   columns.Add(s => s.CategoryName).Titled("Category Name").Filterable(true).SetWidth(30);
                   columns.Add(s => s.CategoryType).Titled("Category Type").Filterable(true).SetWidth(20);
                   columns.Add().RenderValueAs(s => s.Type == 1 ? "Categorywise Discount" : s.Type == 2 ? "Categorywise Loyalty" : s.Type == 3 ? "Direct Discount" : "N/A").Filterable(true).Titled("Discount Type").SetWidth(20);
                   columns.Add(s => s.DiscountPercentage).Titled("Discount").Filterable(true).SetWidth(10);                   
                   columns.Add().Encoded(false).Sanitized(false).Titled("Action").Filterable(false).SetWidth(20).RenderValueAs(s => @<div><a href="~/ShopDiscountCategory/Edit?code=@ShopNow.Helpers.AdminHelpers.ECode(s.Id)" class="btn btn-warning text-center text-nowrap btn-vsm mb-1" style="padding: 3px 26px">Edit</a></div>);
                 }).WithPaging(10).Sortable(true)
                    </div>
                </div>
            </div>
        </div>
    </div>
}
