@model ShopNow.ViewModels.MasterFMCGUploadViewModel
@using System.Data;
@{
    ViewBag.Title = "FMCG Upload";
}
<title>SNOWCH | Master FMCG Upload</title>
<div class="container">
    @using (Html.BeginForm("FMCGUpload", "MasterProduct", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="row">
            <div class="col-md-12">
                <h5>Master FMCG Upload</h5>
                <div class="row mt-3">
                    <div class="col-md-6 mb-2">
                        <input type="file" id="dataFile" name="upload" />
                        @if (Model != null)
                        {
                            <input type="hidden" value="save" name="button" class="btn btn-secondary" />
                        }
                        else
                        {
                            <input type="hidden" value="upload" name="button" class="btn btn-success" />
                        }
                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="Upload" class="btn btn-success" />
                    </div>
                </div>
                <div class="row">
                    @if (Model != null)
                    {
                        <div class="col-md-12 my-2"> <hr class="border-success" style="border-top: 1px dashed" /></div>
                        <div class="col-md-5">
                            <p class="text-success">Excel Headers</p>
                            <table id="Product-list">
                                <thead>
                                </thead>
                                <tbody>
                                    @foreach (DataColumn col in Model.DataTable.Columns)
                                    {
                                        <tr>
                                            <td>@col.ColumnName</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <input id="FileName" name="FileName" type="hidden" value="@Model.Filename" />
                            <hr class="border-success" style="border-top: 1px dashed" />
                        </div>
                        <div class="col-md-6">
                            <p class="text-success">Choose Excel Headers</p>
                            <table id="Database-list" class="w-100">
                                <tbody>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Name</label>
                                            <input id="Name" name="Name" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Category Name</label>
                                            <input id="CategoryName" name="CategoryName" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">SubCategoryName1</label>
                                            <input id="SubCategoryName" name="SubCategoryName" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">SubCategoryName2</label>
                                            <input id="NextSubCategoryName" name="NextSubCategoryName" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Brand Name</label>
                                            <input id="BrandName" name="BrandName" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Weight</label>
                                            <input id="Weight" name="Weight" type="text" step="any" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Package Name</label>
                                            <input id="PackageName" name="PackageName" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">SizeLBH</label>
                                            <input id="SizeLBH" name="SizeLBH" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Measurement Unit Name</label>
                                            <input id="MeasurementUnitName" name="MeasurementUnitName" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Short Description</label>
                                            <input id="ShortDescription" name="ShortDescription" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Long Description</label>
                                            <input id="LongDescription" name="LongDescription" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Google Taxonomy Code</label>
                                            <input id="GoogleTaxonomyCode" name="GoogleTaxonomyCode" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">ASIN Code</label>
                                            <input id="ASIN" name="ASIN" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Price</label>
                                            <input id="Price" name="Price" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Product Image1</label>
                                            <input id="ImagePath1" name="ImagePath1" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Product Image2</label>
                                            <input id="ImagePath2" name="ImagePath2" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Product Image3</label>
                                            <input id="ImagePath3" name="ImagePath3" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Product Image4</label>
                                            <input id="ImagePath4" name="ImagePath4" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Product Image5</label>
                                            <input id="ImagePath5" name="ImagePath5" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-md-9 text-center my-3">
                                <input type="submit" value="Submit" class="btn btn-success" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
@section Scripts
{
<!--Select2-->
<script src="~/Scripts/select2/js/select2.js"></script>
<link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
<link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
<!--Select2 End-->

<script>
    $(document).ready(function () {
       
        var tbl = document.getElementById("Product-list");
        if (tbl != null) {
            for (var i = 0; i < tbl.rows.length; i++) {
                for (var j = 0; j < tbl.rows[i].cells.length; j++)
                    tbl.rows[i].cells[j].onclick = function () { getval(this); };
            }
        }
        function getval(cel) {
            $(function () {
                $('#Name').on('click', function () {
                    $('#Name').val(cel.innerHTML)
                });
                $('#CategoryName').on('click', function () {
                    $('#CategoryName').val(cel.innerHTML)
                });
                $('#SubCategoryName').on('click', function () {
                    $('#SubCategoryName').val(cel.innerHTML)
                });
                $('#NextSubCategoryName').on('click', function () {
                    $('#NextSubCategoryName').val(cel.innerHTML)
                });
                $('#BrandName').on('click', function () {
                    $('#BrandName').val(cel.innerHTML)
                });
                $('#Weight').on('click', function () {
                    $('#Weight').val(cel.innerHTML)
                });
                $('#PackageName').on('click', function () {
                    $('#PackageName').val(cel.innerHTML)
                });
                $('#SizeLBH').on('click', function () {
                    $('#SizeLBH').val(cel.innerHTML)
                });
                $('#MeasurementUnitName').on('click', function () {
                    $('#MeasurementUnitName').val(cel.innerHTML)
                });
                $('#ShortDescription').on('click', function () {
                    $('#ShortDescription').val(cel.innerHTML)
                });
                $('#LongDescription').on('click', function () {
                    $('#LongDescription').val(cel.innerHTML)
                });
                $('#GoogleTaxonomyCode').on('click', function () {
                    $('#GoogleTaxonomyCode').val(cel.innerHTML)
                });
                $('#ASIN').on('click', function () {
                    $('#ASIN').val(cel.innerHTML)
                });
                $('#Price').on('click', function () {
                    $('#Price').val(cel.innerHTML)
                });
                $('#ImagePath1').on('click', function () {
                    $('#ImagePath1').val(cel.innerHTML)
                });
                $('#ImagePath2').on('click', function () {
                    $('#ImagePath2').val(cel.innerHTML)
                });
                $('#ImagePath3').on('click', function () {
                    $('#ImagePath3').val(cel.innerHTML)
                });
                $('#ImagePath4').on('click', function () {
                    $('#ImagePath4').val(cel.innerHTML)
                });
                $('#ImagePath5').on('click', function () {
                    $('#ImagePath5').val(cel.innerHTML)
                });
            });
        }

    });
</script>
}
