@model IEnumerable<ShopNow.ViewModels.MasterProductFoodListViewModel.MasterProductFoodList>
@using GridMvc.Html
@{
    ViewBag.Title = "Dish List";
}

<title>ShopNow | @ViewBag.Title</title>

<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h5 class="text-theme_dark" style="letter-spacing:1px">@ViewBag.Title</h5>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/MasterProduct/FoodCreate" target="_self"><span class="fa fa-plus"></span> New Dish</a>
        </div>
    </div>

    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.Name).Titled("Name").Filterable(true).SetWidth(20);
    columns.Add(c => c.CategoryName).Titled("Category Name").Filterable(true).SetWidth(10);
    columns.Add(c => c.Price).Titled("Price").Filterable(true).SetWidth(10);
    columns.Add(c => c.ProductTypeName).Titled("Item Type").SetWidth(10);
    columns.Add()
    .Encoded(false)
    .Sanitized(false).Titled("Action").SetWidth(10)
    .RenderValueAs(o => @<div><a href="~/MasterProduct/FoodEdit?Id=@ShopNow.Helpers.AdminHelpers.ECodeLong(o.Id)" class="text-info mr-5"><i class="fa fa-edit fa-lg"></i></a>
    <a href="javascript:void(0)" data-id="@ShopNow.Helpers.AdminHelpers.ECodeLong(o.Id)" class="text-danger btnDelete"><i class="fa fa-trash fa-lg"></i></a></div>);
}).WithPaging(20).Sortable(true)
</div>

@section Scripts
{
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $(".btnDelete").click(function () {
                var id = $(this).attr('data-id');
                swal({
                    title: "Are you sure want to delete?",
                    text: "You will not be able to recover this file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, Delete it!",
                    cancelButtonText: "No, cancel",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.getJSON("/MasterProduct/FoodDelete", { Id: id }, function (data) {
                                if (data == true) {
                                    window.location.reload();
                                }
                            });
                        }
                    }
                );
            });
        });
    </script>
}