@model ShopNow.ViewModels.MasterDishUploadViewModel
@using System.Data;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>Shop Now | Master Dish Upload</title>
<div class="container">
    @using (Html.BeginForm("FoodUpload", "MasterProduct", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="row">
            <div class="col-md-12">
                <h5>Master Dish Upload</h5>
                <div class="row mt-3">
                    <div class="col-md-6 mb-2">
                        <input type="file" id="dataFile" name="upload" />
                        @if (Model != null)
                        {
                            <input type="hidden" value="save" name="button" class="btn btn-secondary" />
                        }
                        else
                        {
                            <input type="hidden" value="upload" name="button" class="btn btn-success" />
                        }
                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="Upload" class="btn btn-success" />
                    </div>
                </div>
                <div class="row">
                    @if (Model != null)
                    {
                        <div class="col-md-12 my-2"> <hr class="border-success" style="border-top: 1px dashed" /></div>
                        <div class="col-md-5">
                            <p class="text-success">Excel Headers</p>
                            <table id="Product-list">
                                <thead>
                                </thead>
                                <tbody>
                                    @foreach (DataColumn col in Model.DataTable.Columns)
                                    {
                                        <tr>
                                            <td>@col.ColumnName</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <input id="FileName" name="FileName" type="hidden" value="@Model.Filename" />
                            <hr class="border-success" style="border-top: 1px dashed" />
                        </div>
                        <div class="col-md-6">
                            <p class="text-success">Choose Excel Headers</p>
                            <table id="Database-list" class="w-100">
                                <tbody>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Name</label>
                                            <input id="Name" name="Name" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Category Name</label>
                                            <input id="CategoryName" name="CategoryName" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Customisation</label>
                                            <input id="Customisation" name="Customisation" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Food Type(ColorCode)</label>
                                            <input id="ColorCode" name="ColorCode" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Price</label>
                                            <input id="Price" name="Price" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">GoogleTaxonomyCode</label>
                                            <input id="GoogleTaxonomyCode" name="GoogleTaxonomyCode" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Dish Image1</label>
                                            <input id="ImagePath1" name="ImagePath1" type="text" class="col-md-4" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-md-9 text-center my-3">
                                <input type="submit" value="Submit" class="btn btn-success" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
@section Scripts
    {
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->

    <script>
        $(document).ready(function () {
           
            var tbl = document.getElementById("Product-list");
            if (tbl != null) {
                for (var i = 0; i < tbl.rows.length; i++) {
                    for (var j = 0; j < tbl.rows[i].cells.length; j++)
                        tbl.rows[i].cells[j].onclick = function () { getval(this); };
                }
            }
            function getval(cel) {
                $(function () {
                    $('#Name').on('click', function () {
                        $('#Name').val(cel.innerHTML)
                    });
                    $('#CategoryName').on('click', function () {
                        $('#CategoryName').val(cel.innerHTML)
                    });
                    $('#Customisation').on('click', function () {
                        $('#Customisation').val(cel.innerHTML)
                    });
                    $('#ColorCode').on('click', function () {
                        $('#ColorCode').val(cel.innerHTML)
                    });
                    $('#Price').on('click', function () {
                        $('#Price').val(cel.innerHTML)
                    });
                    $('#GoogleTaxonomyCode').on('click', function () {
                        $('#GoogleTaxonomyCode').val(cel.innerHTML)
                    });
                    $('#ImagePath1').on('click', function () {
                        $('#ImagePath1').val(cel.innerHTML)
                    });
                });
            }

        });
    </script>
}

