@model ShopNow.ViewModels.GroceryPageModel
@using System.Data;
@{
    ViewBag.Title = "FMCG Entry";
}
<title>Shop Now | FMCG Ecxel Upload</title>
<div class="container">
    @using (Html.BeginForm("GroceryEntry", "MasterProduct", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="row">
            <div class="col-md-12">
                <h5>FMCG Master Excel Upload</h5>
                <div class="row mt-3">
                    <div class="col-md-6 mb-2">
                        <input type="file" id="dataFile" name="upload" />
                        @if (Model != null)
                        {
                            <input type="hidden" value="save" name="button" class="btn btn-secondary" />
                        }
                        else
                        {
                            <input type="hidden" value="upload" name="button" class="btn btn-success" />
                        }
                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="Upload" class="btn btn-success" />
                    </div>
                </div>
                <div class="row">
                    @if (Model != null)
                    {
                        <div class="col-md-12 my-2"> <hr class="border-success" style="border-top: 1px dashed" /></div>
                        <div class="col-md-5">
                            <p class="text-success">Excel Headers</p>
                            <table id="Product-list">
                                <thead>
                                </thead>
                                <tbody>
                                    @foreach (DataColumn col in Model.DataTable.Columns)
                                    {
                                        <tr>
                                            <td>@col.ColumnName</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <input id="FileName" name="FileName" type="hidden" value="@Model.Filename" />
                            <hr class="border-success" style="border-top: 1px dashed" />
                        </div>
                        <div class="col-md-6">
                            <p class="text-success">Choose Excel Headers</p>
                            <table id="Database-list" class="w-100">
                                <tbody>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Name</label>
                                            <input id="Name" name="Name" type="text" class="col-md-4" />
                                            <input id="DBName" name="DBName" type="hidden" class="col-md-3" value="Name" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Category Name</label>
                                            <input id="CategoryName" name="CategoryName" type="text" class="col-md-4" />
                                            <input id="DBCategoryName" name="DBCategoryName" type="hidden" value="CategoryName" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">SubCategoryName1</label>
                                            <input id="SubCategoryName1" name="SubCategoryName1" type="text" class="col-md-4" />
                                            <input id="DBSubCategoryName1" name="DBSubCategoryName1" type="hidden" value="SubCategoryName1" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">SubCategoryName2</label>
                                            <input id="SubCategoryName2" name="SubCategoryName2" type="text" class="col-md-4" />
                                            <input id="DBSubCategoryName2" name="DBSubCategoryName2" type="hidden" value="SubCategoryName2" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Brand Name</label>
                                            <input id="BrandName" name="BrandName" type="text" class="col-md-4" />
                                            <input id="DBBrandName" name="DBBrandName" type="hidden" value="BrandName" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">weight</label>
                                            <input id="weight" name="weight" type="text" class="col-md-4" />
                                            <input id="DBweight" name="DBweight" type="hidden" value="weight" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Package Name</label>
                                            <input id="PackageName" name="PackageName" type="text" class="col-md-4" />
                                            <input id="DBPackageName" name="DBPackageName" type="hidden" value="PackageName" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">SizeLB</label>
                                            <input id="SizeLB" name="SizeLB" type="text" class="col-md-4" />
                                            <input id="DBSizeLB" name="DBSizeLB" type="hidden" value="SizeLB" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Measurement Unit Name</label>
                                            <input id="MeasurementUnitName" name="MeasurementUnitName" type="text" class="col-md-4" />
                                            <input id="DBMeasurementUnitName" name="DBMeasurementUnitName" type="hidden" value="MeasurementUnitName" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Short Description</label>
                                            <input id="ShortDescription" name="ShortDescription" type="text" class="col-md-4" />
                                            <input id="DBShortDescription" name="DBShortDescription" type="hidden" value="ShortDescription" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Long Description</label>
                                            <input id="LongDescription" name="LongDescription" type="text" class="col-md-4" />
                                            <input id="DBLongDescription" name="DBLongDescription" type="hidden" value="LongDescription" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Specification</label>
                                            <input id="Specification" name="Specification" type="text" class="col-md-4" />
                                            <input id="DBSpecification" name="DBSpecification" type="hidden" value="Specification" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Google Taxonomy Code</label>
                                            <input id="GoogleTaxonomyCode" name="GoogleTaxonomyCode" type="text" class="col-md-4" />
                                            <input id="DBGoogleTaxonomyCode" name="DBColorCodeGoogleTaxonomyCode" type="hidden" value="GoogleTaxonomyCode" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">ASIN Code</label>
                                            <input id="ASIN" name="ASIN" type="text" class="col-md-4" />
                                            <input id="DBASIN" name="DBASIN" type="hidden" value="ASIN" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Price</label>
                                            <input id="Price" name="Price" type="text" class="col-md-4" />
                                            <input id="DBPrice" name="DBPrice" type="hidden" value="Price" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Product Image1</label>
                                            <input id="ImagePathLarge1" name="ImagePathLarge1" type="text" class="col-md-4" />
                                            <input id="DBImagePathLarge1" name="DBImagePathLarge1" type="hidden" value="ImagePathLarge1" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Product Image2</label>
                                            <input id="ImagePathLarge2" name="ImagePathLarge2" type="text" class="col-md-4" />
                                            <input id="DBImagePathLarge2" name="DBImagePathLarge2" type="hidden" value="ImagePathLarge2" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Product Image3</label>
                                            <input id="ImagePathLarge3" name="ImagePathLarge3" type="text" class="col-md-4" />
                                            <input id="DBImagePathLarge3" name="DBImagePathLarge3" type="hidden" value="ImagePathLarge3" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Product Image4</label>
                                            <input id="ImagePathLarge4" name="ImagePathLarge4" type="text" class="col-md-4" />
                                            <input id="DBImagePathLarge4" name="DBImagePathLarge4" type="hidden" value="ImagePathLarge4" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Product Image5</label>
                                            <input id="ImagePathLarge5" name="ImagePathLarge5" type="text" class="col-md-4" />
                                            <input id="DBImagePathLarge5" name="DBImagePathLarge5" type="hidden" value="ImagePathLarge5" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-md-5">Product Type</label>
                                            <select id="ProductType" name="ProductType" class="col-md-4">
                                                <option value=" ">Select</option>
                                                <option value="Product">Product</option>
                                                <option value="Dish">Dish</option>
                                                <option value="Service">Service</option>
                                                <option value="Medical">Medical</option>
                                                <option value="FMCG">FMCG</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-md-9 text-center my-3">
                                <input type="submit" value="Submit" class="btn btn-success" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
@section Scripts
    {
    <script>
        $(document).ready(function () {

            var tbl = document.getElementById("Product-list");
            if (tbl != null) {
                for (var i = 0; i < tbl.rows.length; i++) {
                    for (var j = 0; j < tbl.rows[i].cells.length; j++)
                        tbl.rows[i].cells[j].onclick = function () { getval(this); };
                }
            }
            function getval(cel) {
                $(function () {
                    $('#Name').on('click', function () {
                        $('#Name').val(cel.innerHTML)
                    });
                    $('#CategoryName').on('click', function () {
                        $('#CategoryName').val(cel.innerHTML)
                    });
                    $('#SubCategoryName1').on('click', function () {
                        $('#SubCategoryName1').val(cel.innerHTML)
                    });
                    $('#SubCategoryName2').on('click', function () {
                        $('#SubCategoryName2').val(cel.innerHTML)
                    });
                    $('#weight').on('click', function () {
                        $('#weight').val(cel.innerHTML)
                    });
                    $('#PackageName').on('click', function () {
                        $('#PackageName').val(cel.innerHTML)
                    });
                    $('#SizeLB').on('click', function () {
                        $('#SizeLB').val(cel.innerHTML)
                    });
                    $('#MeasurementUnitName').on('click', function () {
                        $('#MeasurementUnitName').val(cel.innerHTML)
                    });
                    $('#BrandName').on('click', function () {
                        $('#BrandName').val(cel.innerHTML)
                    });
                    $('#ShortDescription').on('click', function () {
                        $('#ShortDescription').val(cel.innerHTML)
                    });
                    $('#LongDescription').on('click', function () {
                        $('#LongDescription').val(cel.innerHTML)
                    });
                    $('#Specification').on('click', function () {
                        $('#Specification').val(cel.innerHTML)
                    });
                    $('#GoogleTaxonomyCode').on('click', function () {
                        $('#GoogleTaxonomyCode').val(cel.innerHTML)
                    });
                    $('#ASIN').on('click', function () {
                        $('#ASIN').val(cel.innerHTML)
                    });
                    $('#Price').on('click', function () {
                        $('#Price').val(cel.innerHTML)
                    });
                    $('#ImagePathLarge1').on('click', function () {
                        $('#ImagePathLarge1').val(cel.innerHTML)
                    });
                    $('#ImagePathLarge2').on('click', function () {
                        $('#ImagePathLarge2').val(cel.innerHTML)
                    });
                    $('#ImagePathLarge3').on('click', function () {
                        $('#ImagePathLarge3').val(cel.innerHTML)
                    });
                    $('#ImagePathLarge4').on('click', function () {
                        $('#ImagePathLarge4').val(cel.innerHTML)
                    });
                    $('#ImagePathLarge5').on('click', function () {
                        $('#ImagePathLarge5').val(cel.innerHTML)
                    });               
                });
            }

        });
    </script>
}
