@model ShopNow.ViewModels.MasterProductListViewModel
@using GridMvc.Html
@{
    ViewBag.Title = "Mapped List";
}
<title> SNOWCH | Mapped List</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h5 class="text-success"> Mapped Product List</h5>
        </div>
        <div class="col-md-8 text-right">
            <a href="~/MasterProduct/ItemMapping" target="_blank"><span class="fa fa-bars"></span> Item Mapping</a>
        </div>
    </div>
    <div class="row">
        <div class="card shadow">
            <div class="card-body">
                @Html.Grid(Model.MappedLists).Columns(columns =>
                {
                  columns.Add(c => c.Name).Titled("Shop Product Name").Filterable(true).SetWidth(30);
                  columns.Add(c => c.MasterProductName).Titled("Master Product Name").Filterable(true).SetWidth(30);
                  columns.Add(c => c.ProductTypeName).Titled("Product Type").Filterable(true).SetWidth(30);
                  columns.Add().Encoded(false).Sanitized(false).Titled("Action").SetWidth(10)
                   .RenderValueAs(o => @<div>
                        <a href="javascript:void(0)" data-id=@o.Id class="btn btn-sm btn-danger btnUnmap">UnMap</a>
                    </div>);
                }).WithPaging(20).Sortable(true)
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $(".btnUnmap").click(function () {
                var Id = $(this).attr('data-id');
                swal({
                    title: "Are you sure want to UnMap?",
                    text: "You will not be able to recover this file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, UnMap it!",
                    cancelButtonText: "No, cancel",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.getJSON("/MasterProduct/UnMap", { Id: Id }, function (data) {
                                if (data == true) {
                                    window.location.reload();
                                }
                            });
                        }
                    }
                );
            });
        });
    </script>
}
