@model ShopNow.ViewModels.MasterProductListViewModel
@using GridMvc.Html
@{
    ViewBag.Title = "Mapped List";
}
<title> ShopNow | Mapped List</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h5 class="text-success"> Mapped Product List</h5>
        </div>
        <div class="col-md-8 text-right">
            <a href="~/MasterProduct/ItemMapping" target="_blank"><span class="fa fa-bars"></span> Item Mapping</a>
        </div>
    </div>
    <div class="row">
        <div class="card shadow">
            <div class="card-body">
                @Html.Grid(Model.MappedLists).Columns(columns =>
           {
               columns.Add(c => c.Name).Titled("Shop Product Name").Filterable(false).SetWidth(30);
               columns.Add(c => c.MasterProductName).Titled("Master Product Name").Filterable(true).SetWidth(30);
               columns.Add(c => c.ProductTypeName).Titled("Product Type").Filterable(true).SetWidth(30);
           }).WithPaging(20).Sortable(true)
            </div>
        </div>
    </div>
</div>