@model IEnumerable<ShopNow.Models.NextSubCategory>
@using GridMvc.Html
@{
    ViewBag.Title = "List";
}
<title>ShopNow | Next SubCategory</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<style>
    .table td, .table th {
        border-top: 1px solid #eaeaea;
        vertical-align: middle;
        padding: .4rem 1.25rem;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h5 style="letter-spacing:1px">SUB CATEGORY II LIST</h5>
        </div>
        <div class="col-md-6 text-right">
            <a data-toggle="modal" data-target="#createModal" href="createModal"><span class="fa fa-plus"></span> New Next Sub Category</a>
        </div>
    </div>

    @Html.Grid(Model).Columns(columns =>
{
columns.Add(n=> n.Name).Titled("Name").Filterable(true).SetWidth(10);
columns.Add(n => n.SubCategoryName).Titled("SubCategory Name").Filterable(true).SetWidth(10);
columns.Add(s => s.ProductTypeName).Titled("Item Type").Filterable(true).SetWidth(10);
columns.Add(s => s.Adscore).Titled("Adscore").Filterable(true).SetWidth(10);
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { id = @ShopNow.Helpers.AdminHelpers.ECodeInt(o.Id) }, new { @class = "btn btn-vsm btn-warning mr-1", @style = "padding: 3px 26px" }).ToHtmlString()
                   + Html.ActionLink("Delete", "Delete", new { id = o.Id }, new { @class = "btn  btn-vsm btn-danger", @style = "padding: 3px 18px" }).ToHtmlString()).Titled("Action").SetWidth(15);
            }).WithPaging(20).Sortable(true)
</div>


<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-info">
                <h5 class="modal-title">SUB CATEGORY II Entry</h5>
                <button type="button" class="btnClose close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="col-form-label font-weight-bold text-secondary">Next SubCategory Name</label>
                        <input type="text" name="Name" id="Name" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label class="col-form-label font-weight-bold text-secondary">SubCategory</label>
                            <select name="SubCategoryId" class="form-control" id="SubCategoryId"></select>
                            <input type="hidden" name="SubCategoryName" id="SubCategoryName" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label font-weight-bold text-secondary">Item Type</label>
                        <select name="ProductTypeId" class="form-control" id="ProductTypeId">
                            <option value="0">Select Item Type</option>
                            <option value="4">Product</option>
                            <option value="1">Dish</option>
                            <option value="5">Service</option>
                            <option value="3">Medical</option>
                            <option value="2">FMCG</option>
                        </select>
                        <input type="hidden" name="ProductTypeName" id="ProductTypeName" />
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label font-weight-bold text-secondary">Adscore</label>
                        <input type="number" min="1" value="1" name="Adscore" id="Adscore" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="Create" name="Create" value="Save" class="btn btn-success float-right Save" />
            </div>
        </div>
    </div>
</div>
@*<div class="modal fade" id="deleteModal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-danger">
                <h4 class="modal-title" id="myModalLabel">Warning</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="success-message">Are you sure want to delete this record? </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success delete-confirm">Yes</button>
                <button class="btn btn-danger" data-dismiss="modal">No</button>
                <input type="hidden" name="Code" id="Code" data-dismiss="modal" />
            </div>
        </div>
    </div>
</div>*@

@section Scripts
{
    <script src="~/Scripts/ValidateRequiredFields.js"></script>
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $('#ProductTypeId').on('change', function () {
                let selectedType = $(this).find("option:selected").text();
                $('[name="ProductTypeName"]').val(selectedType);
            });
            $('#SubCategoryId').select2({
                dropdownParent: $('#createModal'),
                placeholder: "Search SubCategory",
                width: '100%',
                ajax: {
                    url: "/NextSubCategory/GetSubCategorySelect2",
                    delay: 250,
                    datatype: 'json',
                }
            }).on('select2:select', function (e) {
                $('input[name="SubCategoryName"]').val(e.params.data.text);
            });

            $('#Create').on('click', function () {
                var isValidate = false;
                var requiredArr = [
                    'Name',
                    'ProductTypeId',
                    'SubCategoryId',
                ];
                isValidate = ValidateEmptyRequiredFiels(requiredArr);
                var nextSubCategory = {
                    Name: $('#Name').val(),
                    CategoryId: $("#CategoryId").val(),
                    CategoryName: $("#CategoryName").val(),
                    SubCategoryId : $("#SubCategoryId").val(),
                    SubCategoryName : $("#SubCategoryName").val(),
                    ProductTypeId: $('#ProductTypeId').val(),
                    ProductTypeName: $('#ProductTypeName').val(),
                    Adscore: $('#Adscore').val()
                };
                if (isValidate) {
                    $.post("/NextSubCategory/Save", { nextSubCategory: nextSubCategory }, function (data) {
                        if (data.IsAdded == true) {
                            swal({
                                title: data.message,
                                text: "",
                                type: "success"
                            }, function () {
                                window.location.reload();
                            });
                        } else {
                            if (data.message1 != null || data.message1 != "") {
                                swal(data.message1, "", "warning");
                                $('#Name').val("");
                                $('#ProductTypeId').val("");
                            }
                        }
                    });
                }
            });

            //$(".delete-prompt").click(function () {
            //    var code = $(this).attr('data-id');
            //    $("#Code").val(code);
            //});

            //$(".delete-confirm").click(function () {
            //    var code = $("#Code").val();
            //    $.getJSON("/NextSubCategory/Delete", { code: code }, function (data) {
            //        window.location.reload();
            //    });
            //});
        });

    </script>
}