@model IEnumerable<ShopNow.Models.NextSubCategory>
@using GridMvc.Html
@{
    ViewBag.Title = "SubCategory2 List";
}
<title>SNOWCH | @ViewBag.Title</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-6">
            <h4 class="text-success" style="letter-spacing:1px">SUBCATEGORY2 LIST</h4>
        </div>
        <div class="col-md-6 text-right">
            <a data-toggle="modal" data-target="#createModal" href="createModal"><span class="fa fa-plus"></span> New SubCategory2</a>
        </div>
        <div class="col-md-12">
            <div class="card shadow mt-3">
                <div class="card-body">
                    @Html.Grid(Model).Columns(columns =>
   {
   columns.Add(n => n.SubCategoryName).Titled("SubCategory1").Filterable(true).SetWidth(10);
   columns.Add(n => n.Name).Titled("SubCategory2").Filterable(true).SetWidth(10);
   columns.Add(s => s.ProductTypeName).Titled("Item Type").Filterable(true).SetWidth(10);
   columns.Add(s => s.Adscore).Titled("Adscore").Filterable(true).SetWidth(10);
       columns.Add().Encoded(false).Sanitized(false).Titled("Action").SetWidth(5)
             .RenderValueAs(o => @<div>
                    <a href="~/NextSubCategory/Edit?id=@ShopNow.Helpers.AdminHelpers.ECodeInt(o.Id)" class="text-info mr-5"><i class="fa fa-edit fa-lg"></i></a>
                    <a href="javascript:void(0)" data-id="@ShopNow.Helpers.AdminHelpers.ECodeInt(o.Id)" class="text-danger btnDelete"><i class="fa fa-trash fa-lg"></i></a>
                </div>);
}).WithPaging(20).Sortable(true)
                </div>               
            </div>
        </div>       
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-info">
                <h5 class="modal-title">SubCategory2 Entry</h5>
                <button type="button" class="btnClose close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="col-form-label font-weight-bold text-secondary">Next SubCategory Name</label>
                        <input type="text" name="Name" id="Name" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label class="col-form-label font-weight-bold text-secondary">SubCategory</label>
                            <select name="SubCategoryId" class="form-control" id="SubCategoryId"></select>
                            <input type="hidden" name="SubCategoryName" id="SubCategoryName" />
                            <input type="hidden" name="ProductTypeId" id="ProductTypeId" />
                            <input type="hidden" name="ProductTypeName" id="ProductTypeName" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label font-weight-bold text-secondary">Adscore</label>
                        <input type="number" min="1" value="1" name="Adscore" id="Adscore" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="Create" name="Create" value="Save" class="btn btn-success float-right Save" />
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/ValidateRequiredFields.js"></script>
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $('#ProductTypeId').on('change', function () {
                let selectedType = $(this).find("option:selected").text();
                $('[name="ProductTypeName"]').val(selectedType);
            });
            $('#SubCategoryId').select2({
                dropdownParent: $('#createModal'),
                placeholder: "Search SubCategory",
                width: '100%',
                ajax: {
                    url: "/NextSubCategory/GetSubCategorySelect2",
                    delay: 250,
                    datatype: 'json',
                }
            }).on('select2:select', function (e) {
                $('input[name="SubCategoryName"]').val(e.params.data.text);
                $('input[name="ProductTypeId"]').val(e.params.data.ProductTypeId);
                $('input[name="ProductTypeName"]').val(e.params.data.ProductTypeName);
            });

            $('#Create').on('click', function () {
                var isValidate = false;
                var requiredArr = [
                    'Name',
                    'ProductTypeId',
                    'SubCategoryId',
                ];
                isValidate = ValidateEmptyRequiredFiels(requiredArr);
                var nextSubCategory = {
                    Name: $('#Name').val(),
                    CategoryId: $("#CategoryId").val(),
                    CategoryName: $("#CategoryName").val(),
                    SubCategoryId : $("#SubCategoryId").val(),
                    SubCategoryName : $("#SubCategoryName").val(),
                    ProductTypeId: $('#ProductTypeId').val(),
                    ProductTypeName: $('#ProductTypeName').val(),
                    Adscore: $('#Adscore').val()
                };
                if (isValidate) {
                    $.post("/NextSubCategory/Save", { nextSubCategory: nextSubCategory }, function (data) {
                        if (data.IsAdded == true) {
                            swal({
                                title: data.message,
                                text: "",
                                type: "success"
                            }, function () {
                                window.location.reload();
                            });
                        } else {
                            if (data.message1 != null || data.message1 != "") {
                                swal(data.message1, "", "warning");
                                $('#Name').val("");
                                $('#ProductTypeId').val("");
                            }
                        }
                    });
                }
            });

            $(".btnDelete").click(function () {
                var Id = $(this).attr('data-id');
                swal({
                    title: "Are you sure want to delete?",
                    text: "You will not be able to recover this file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, Delete it!",
                    cancelButtonText: "No, cancel",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.getJSON("/NextSubCategory/Delete", { Id: Id }, function (data) {
                                if (data == true) {
                                    window.location.reload();
                                }
                            });
                        }
                    }
                );
            });
        });
    </script>
}