@model ShopNow.ViewModels.PageCreateEditViewModel
@{
    ViewBag.Title = "Page Entry";
}
<title>SNOWCH | Page Entry</title>
<div class="container-fluid my-4">
    <div class="row">
        <div class="col-md-4">
            <h4 class="mt-1 text-success" style="letter-spacing:1px">PAGE ENTRY</h4>
        </div>
        <div class="col-md-8 text-right">
            <a href="~/Page/List" target="_self"><span class="fa fa-bars"></span>&nbsp;Page List</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            @using (Html.BeginForm("Create", "Page", FormMethod.Post, new { id = "PageForm" }))
            {
                <div class="card shadow mt-3">
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="col-form-label"><strong class="text-secondary">Page Code</strong></label>
                                <input id="Code" type="text" class="form-control" name="Code" style="text-transform:uppercase" />
                            </div>
                            <div class="col-md-3">
                                <label class="col-form-label"><strong class="text-secondary">Page Name</strong></label>
                                <input id="Name" type="text" class="form-control" name="Name" style="text-transform:uppercase" />
                            </div>
                            <div class="col-md-3">
                                <label class="col-form-label font-weight-bold">Website</label>
                                <select id="Status" name="Status" class="form-control">
                                    <option value="">Select</option>
                                    <option value="0">ShopNow</option>
                                    <option value="3">ShopNowPay</option>
                                    <option value="5">Agency</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-9">
                                <button type="button" class="btn btn-block btn-success Save col-md-2 mx-auto"><span class="glyphicon glyphicon-file"></span> Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/ValidateRequiredFields.js"></script>
    <script>
        $(document).on('click', '.Save', function () {
            var isValidate = false;
            var requiredArr = [
                'Name',
                'Code',
                'Status'
            ];
            isValidate = ValidateEmptyRequiredFiels(requiredArr);
            if (isValidate) {
                $('#PageForm').submit();
            }
        });
    </script>
}
