@model IEnumerable<ShopNow.Models.Page>
@using GridMvc.Html
@{
    ViewBag.Title = "Page List";
}
<title>SNOWCH | Page List</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h4 class="text-success" style="letter-spacing:1px">PAGE LIST</h4>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Page/Create" target="_self"><span class="fa fa-plus"></span>&nbsp;New Page</a>
        </div>
        <div class="col-md-12">
            <div class="card shadow mt-3">
                <div class="card-body">
                    @Html.Grid(Model).Columns(columns =>
               {
               columns.Add(p => p.Name).Titled("Name").Filterable(true).SetWidth(50);
               columns.Add().Encoded(false).Sanitized(false).Titled("Action").SetWidth(30)
                         .RenderValueAs(o => @<div>
                                <a href="~/Page/Edit?Id=@ShopNow.Helpers.AdminHelpers.ECodeInt(o.Id)" class="text-info mr-5"><i class="fa fa-edit fa-lg"></i></a>
                                <a href="javascript:void(0)" data-id=@ShopNow.Helpers.AdminHelpers.ECodeInt(o.Id) class="text-danger btnDelete"><i class="fa fa-trash fa-lg"></i></a>
                            </div>);
              }).WithPaging(20).Sortable(true)
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $(".btnDelete").click(function () {
                var Id = $(this).attr('data-id');
                swal({
                    title: "Are you sure want to delete?",
                    text: "You will not be able to recover this file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, Delete it!",
                    cancelButtonText: "No, cancel",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.getJSON("/Page/Delete", { Id: Id }, function (data) {
                                if (data == true) {
                                    window.location.reload();
                                }
                            });
                        }
                    }
                );
            });
        });
    </script>
}