@model ShopNow.ViewModels.PushNotificationListViewModel
@using GridMvc.Html
@{
    ViewBag.Title = "Push Notification List";
}

<title>ShopNow | @ViewBag.Title</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<style>
    table > thead > tr > th:first-child {
        padding: 12px 4px !important;
    }
    /*table > thead > tr > th:last-child, table > thead > tr > th:nth-last-child(2) {
        padding: 16px 6px;
    }*/
</style>

<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-12 mx-auto mt-3">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex justify-content-between"> 
                    <h5 class="text-success" style="letter-spacing:1px">@ViewBag.Title</h5>
                        <a href="/PushNotification/Index"><u>Go to Entry</u></a>
                    </div>
                    @Html.Grid(Model.ListItems).Columns(columns =>
               {
                   columns.Add(c => c.Index).Titled("Si No").Filterable(false).SetWidth(5);
                   columns.Add(c => c.DistrictName).Titled("Customer").Filterable(true).SetWidth(10);
                   columns.Add(c => c.Title).Titled("Title").Filterable(true).SetWidth(20);
                   columns.Add(c => c.Description).Titled("Description").Filterable(true).SetWidth(30);
                   columns.Add(c => c.ClickCount).Titled("Click Count").Css("text-center").Filterable(true).SetWidth(10);
                   columns.Add(c => c.DateEncoded).Titled("Date Created").Filterable(true).SetWidth(5).Format("{0:dd-MMM-yyyy hh:MM tt}");
                   columns.Add(c => c.EncodedBy).Titled("Created By").Filterable(true).SetWidth(5);
               }).Sortable(false)
                </div>
            </div>
        </div>
    </div>
</div>

