@model ShopNow.ViewModels.WalletIndexViewModel
@using GridMvc.Html
@{
    ViewBag.Title = "Wallet List";
}
<title>ShopNow | @ViewBag.Title</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card shadow h-100">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="text-success" style="letter-spacing:1px">@ViewBag.Title</h5>
                        <a href="#modal-wallet-entry" data-target="#modal-wallet-entry" data-toggle="modal"><u>Add New Entry</u></a>
                    </div>
                    @Html.Grid(Model.ListItems).Columns(columns =>
               {
                   columns.Add(s => s.CustomerGroupText).Titled("Customer Group").Filterable(true).SetWidth(30);
                   columns.Add(s => s.Amount).Titled("Amount").Filterable(true).SetWidth(8);
                   columns.Add(s => s.ExpiryDate).Titled("Expiry Date").Filterable(true).SetWidth(8);
                   columns.Add(s => s.DateEncoded).Titled("Date Created").Filterable(true).SetWidth(8);
                   columns.Add(s => s.Encodedby).Titled("Created By").Filterable(true).SetWidth(8);
               }).Sortable(true)
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-wallet-entry" role="dialog" aria-labelledby="createModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-info">
                <h5 class="modal-title text-success" id="createModalLabel">New Wallet Entry</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/Wallet/SendWalletAmount" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label">Select Customer Group</label>
                        <select id="select-customergroup" class="form-control" name="CustomerGroup" required>
                            <option disabled selected>Select Customer Group</option>
                            <option value="1">Medical Group</option>
                            <option value="2">Grocery Group</option>
                            <option value="3">Restaurant Group</option>
                            <option value="4">Supermarket Group</option>
                            <option value="5">No Order Group</option>
                            <option value="6">Last 10 days No Order Group</option>
                            <option value="7">Last 10 days only Medical order Group</option>
                            <option value="8">Last 10 days only Grocery order Group</option>
                            <option value="9">Last 10 days only Restaurant order Group</option>
                            <option value="10">Last 10 days only Supermarket order Group</option>
                            <option value="11">IOS Group</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Amount</label>
                        <input type="number" name="Amount" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Expiry Date</label>
                        <input type="date" name="ExpiryDate" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" id="Create" name="Create" value="Send" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>

