@model IEnumerable<ShopNow.Models.Staff>
@using GridMvc.Html
@{
    ViewBag.Title = "Staff List";
}
<title>ShopNow | Staff List</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<style>
    .table td, .table th {
        border-top: 1px solid #eaeaea;
        vertical-align: middle;
        padding: .4rem 1.25rem;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h5 class="" style="letter-spacing:1px">STAFF LIST</h5>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Staff/Create" target="_self"><span class="fa fa-plus"></span>&nbsp;Staff</a>
        </div>
    </div>
    @Html.Grid(Model).Columns(columns =>
{
columns.Add(c => c.Name).Titled("Name").Encoded(false).Sanitized(false).RenderValueAs(model => Html.ActionLink(model.Name, "Details", new { code = @ShopNow.Helpers.AdminHelpers.ECodeInt(model.Id) }).ToHtmlString()).Filterable(true).SetWidth(20);
columns.Add(c => c.PhoneNumber).Titled("Phone No.").Filterable(true).SetWidth(15);
columns.Add(c => c.ShopName).Titled("Shop").Filterable(true).SetWidth(10);
columns.Add().Encoded(false).Sanitized(false).Titled("Image").Filterable(false).SetWidth(10).RenderValueAs(c => @<div><img alt="Image" data-toggle="modal" data-target="#myModal" class="img-thumbnail StaffImage" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@c.ImagePath" width="45" height="45" onerror="this.src='/Images/No Photo.png'" /></div>);
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { code = @ShopNow.Helpers.AdminHelpers.ECodeInt(o.Id) }, new { @class = "btn btn-vsm btn-warning mr-1", @style = "padding: 3px 26px" }).ToHtmlString()
                   + Html.ActionLink("Delete", "Delete", new { code = @ShopNow.Helpers.AdminHelpers.ECodeInt(o.Id) }, new { @class = "btn  btn-vsm btn-danger", @style = "padding: 3px 18px" }).ToHtmlString()).Titled("Action").SetWidth(15);
}).WithPaging(20).Sortable(true)

    <!--
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <table class="table table-striped table-hover table-borderless table-hover" id="staff-list">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th class="text-nowrap">Name</th>
                                <th class="text-nowrap">Phone Number</th>
                                <th class="text-nowrap">Shop Name</th>
                                <th class="">Image</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            foreach (var item in Model.List)
                            {
                            <tr>
                                <td></td>
                                <td class="text-nowrap w-12"><a href="~/Staff/Details?code=ShopNow.Helpers.AdminHelpers.ECode(item.Code)"> item.Name</a></td>
                                <td class="text-nowrap w-12">item.PhoneNumber</td>
                                <td class="text-nowrap w-25">item.ShopName</td>
                                <td class="text-nowrap">
                                    if (item.ImagePath != null)
                                    {
                                    <span><a href="~/Staff/Details?code=ShopNow.Helpers.AdminHelpers.ECode(item.Code)" data-toggle="modal" data-target="#myModal" title="Click Here To Preview!"><img id='img-upload' src="item.ImagePath" class="img-thumbnail StaffImage" width="60" height="60" onerror="this.src='/Images/No Photo.png'" /></a></span>
                                    }
                                    else
                                    {
                                    <img src="~/Images/No Photo.png" class="img-thumbnail" width="60" height="60" />
                                    }
                                </td>
                                <td>
                                    <a href="~/Staff/Edit?code=ShopNow.Helpers.AdminHelpers.ECode(item.Code)" class="btn btn-warning text-center text-nowrap btn-sm mb-1" style="padding: 3px 26px">Edit</a>
                                    <a href="~/Staff/Delete?code=ShopNow.Helpers.AdminHelpers.ECode(item.Code)" class="btn btn-danger text-center text-nowrap btn-sm mb-1" style="padding: 3px 18px">Delete</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    -->
</div>


<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <span class="close" data-dismiss="modal">&times;</span>
        <a href="~/Home/ImageDenied">
            <img class="modal-content" id="myImage">
        </a>
    </div>
</div>


@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script>
        $(document).ready(function () {

            var modal = document.getElementById('myModal');
            var img = document.getElementsByClassName('StaffImage');
            var modalImg = document.getElementById("myImage");
            $(img).click(function () {
                modal.style.display = "block";
                modalImg.src = this.src;
                if (this.src == "") {
                    $('#myModal').hide();
                }
                else {
                    $('#myModal').modal('show');
                }
            });

        });
    </script>
}
