@model IEnumerable<ShopNow.ViewModels.StaffListViewModel.StaffList>
@using GridMvc.Html
@{
    ViewBag.Title = "Staff List";
}
<title>ShopNow | Staff List</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h5 class="text-success" style="letter-spacing:1px">STAFF LIST</h5>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Staff/Create" target="_self"><span class="fa fa-plus"></span>&nbsp;Staff</a>
        </div>
        <div class="col-md-12">
            <div class="card shadow mt-3">
                <div class="card-body">
                    @Html.Grid(Model).Columns(columns =>
{
columns.Add(c => c.Name).Titled("Name").Encoded(false).Sanitized(false).Filterable(true).SetWidth(20).RenderValueAs(a=> @<div><a href="/Staff/Details?Id=@HttpUtility.UrlEncode(ShopNow.Helpers.AdminHelpers.ECodeInt(a.Id))" class="mr-5">@a.Name</a></div>);
columns.Add(c => c.PhoneNumber).Titled("Phone No.").Filterable(true).SetWidth(15);
//columns.Add(c => c.ShopName).Titled("Shop").Filterable(true).SetWidth(10);
columns.Add().Encoded(false).Sanitized(false).Titled("Image").Filterable(false).SetWidth(10).RenderValueAs(c => @<div><img alt="Image" data-toggle="modal" data-target="#myModal" class="img-thumbnail StaffImage" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@c.ImagePath" width="45" height="45" onerror="this.src='/Images/No Photo.png'" /></div>);
 columns.Add()
    .Encoded(false)
    .Sanitized(false).Titled("Action").SetWidth(15)
    .RenderValueAs(o => @<div>
        <a href="/Staff/Edit?Id=@ShopNow.Helpers.AdminHelpers.ECodeInt(o.Id)" class="text-info mr-5"><i class="fa fa-edit fa-lg"></i></a>
        <a href="javascript:void(0)" data-id=@o.Id class="text-danger btnDelete"><i class="fa fa-trash fa-lg"></i></a>
    </div>);
}).WithPaging(20).Sortable(true)
                </div>
            </div>
        </div>
    </div>
</div>


<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <span class="close" data-dismiss="modal">&times;</span>
        <a href="~/Home/ImageDenied">
            <img class="modal-content" id="myImage">
        </a>
    </div>
</div>


@section Scripts
{
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script>
        $(document).ready(function () {

            var modal = document.getElementById('myModal');
            var img = document.getElementsByClassName('StaffImage');
            var modalImg = document.getElementById("myImage");
            $(img).click(function () {
                modal.style.display = "block";
                modalImg.src = this.src;
                if (this.src == "") {
                    $('#myModal').hide();
                }
                else {
                    $('#myModal').modal('show');
                }
            });

            $(".btnDelete").click(function () {
                var Id = $(this).attr('data-id');
                swal({
                    title: "Are you sure want to delete?",
                    text: "You will not be able to recover this file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, Delete it!",
                    cancelButtonText: "No, cancel",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.getJSON("/Staff/Delete", { Id: Id }, function (data) {
                                if (data == true) {
                                    window.location.reload();
                                }
                            });
                        }
                    }
                );
            });
        });
    </script>
}
