@model ShopNow.ViewModels.ShopFranchiseViewModel
@{
    ViewBag.Title = "Marketing Agent Assign";
}
<title>ShopNow | Marketing Agent Assign </title>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h5 style="letter-spacing:1px">ASSIGN MARKETING AGENT FOR SHOPS</h5>
        </div>
        <div class="col-md-8 text-right">
            <a href="/Shop/AssignedFranchiseList"><span class="fa fa-bars"></span> Assigned Marketing Agent List</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            @using (Html.BeginForm("AssignFranchise", "Shop", FormMethod.Post, new { id = "AssignFranchiseForm", enctype = "multipart/form-data" }))
            {
                <div class="card mb-3">
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label class="col-form-label text-secondary font-weight-bold">Shop Name<span class="text-danger">*</span></label>
                                        <select id="ShopCode" name="ShopCode" class="form-control"></select>
                                        <input type="hidden" name="ShopName" id="ShopName" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="col-form-label"><strong class="text-secondary">Marketing Agent Name</strong></label>
                                <select name="MarketingAgentCode" id="MarketingAgentCode" class="form-control"></select>
                                <input type="hidden" name="MarketingAgentName" id="MarketingAgentName" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12 text-center">
                                <button type="button" class="btn btn-success Save" id="Create" disabled><span class="glyphicon glyphicon-file"></span>Assign</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->

    <script>
        $(document).ready(function () {
            
            $(document).on('click', '.Save', function () {
                $('#AssignFranchiseForm').submit();

            });

            $('#ShopCode').select2({
                placeholder: "Search Shop",
                ajax: {
                    url: "/Shop/GetShopSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="ShopName"]').val(e.params.data.text);
                var shopcode = $('#ShopCode').val();
                var macode = $('#MarketingAgentCode').val();
                if (shopcode != null && macode != null) {
                    $('#Create').prop('disabled', false);
                }
            });

            $('#MarketingAgentCode').select2({
                placeholder: "Search Franchise",
                ajax: {
                    url: "/Shop/GetMarketingAgentSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="MarketingAgentName"]').val(e.params.data.text);
                var shopcode = $('#ShopCode').val();
                var macode = $('#MarketingAgentCode').val();
                if (shopcode != null && macode != null) {
                    $('#Create').prop('disabled', false);
                }
            });

        });
    </script>
}