@model ShopNow.ViewModels.ShopCreditViewModel
@using GridMvc.Html
@{
    ViewBag.Title = "Credits History";
}
<title>ShopNow | @ViewBag.Title</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h5 class="text-success"> @ViewBag.Title</h5>
            <div class="card shadow mt-3">
                <div class="card-body">
                    @Html.Grid(Model.Lists).Columns(columns =>
               {
                   columns.Add(c => c.ShopName).Titled("Name").Filterable(true).SetWidth(15);
                   columns.Add(c => c.ShopOwnerName).Titled("Owner Name").Filterable(true).SetWidth(10);
                   columns.Add(c => c.ShopOwnerPhoneNumber).Titled("PhoneNo").Filterable(true).SetWidth(12);
                   columns.Add(c => c.Amount).Titled("Amount").Filterable(true).SetWidth(10);
                   columns.Add(c => c.CreditTypeText).Titled("Credit Type").Filterable(true).SetWidth(10);
               }).WithPaging(20).Sortable(true)
                </div>
            </div>
        </div>
    </div>
</div>
