@model IEnumerable<ShopNow.Models.Shop>
@using GridMvc.Html
@{
    ViewBag.Title = "Shop List";
}
<title>ShopNow | Shop List</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<link href="~/Content/switch.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h5 class="mt-1 text-success" style="letter-spacing:1px">SHOP LIST</h5>
        </div>
        <div class="col-md-2 col-sm-4 mb-2 data-search">
        </div>
        <div class="col-md-7 text-right">
            <a href="~/Shop/InactiveList" class="text-danger mr-2" target="_self"><span class="fa fa-hand-point-up"></span> Approval Pending</a>
            <a href="~/Shop/Create" target="_self"><span class="fa fa-plus"></span> Shop</a>
        </div>
    </div>
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.Name).Titled("Name").Filterable(true).SetWidth(15);
    columns.Add(c => c.OwnerPhoneNumber).Titled("OwnerPhoneNo").Filterable(true).SetWidth(18);
    columns.Add().RenderValueAs(c => c.PhoneNumber != null ? c.PhoneNumber : c.ManualPhoneNumber).Titled("PhoneNo.").Filterable(true).SetWidth(8);
    columns.Add(c => c.ShopCategoryName).Titled("Shop Type").Filterable(true).SetWidth(10);
    columns.Add(c => c.Address).Titled("Address").Filterable(true).SetWidth(50);
    //columns.Add(c => c.PinCode).Titled("PinCode").Filterable(true).SetWidth(8);
    columns.Add()
            .Encoded(false)
            .Sanitized(false)
             .RenderValueAs(s => new HtmlString
                      ("<label class='switch'> <input type='checkbox' value='" + s.IsOnline + "' Id='Id_" + s.Id + "' class='CheckOnline' data-code='" + s.Id + "'><span class='slider round'></span></label>")).Titled("IsOnline").SetWidth(8);
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { code = @ShopNow.Helpers.AdminHelpers.ECodeInt(o.Id) }, new { @class = "btn btn-vsm btn-warning mr-1", @style = "padding: 3px 26px" }).ToHtmlString()
                   + Html.ActionLink("Delete", "Delete", new { code = @ShopNow.Helpers.AdminHelpers.ECodeInt(o.Id) }, new { @class = "btn  btn-vsm btn-danger", @style = "padding: 3px 18px" }).ToHtmlString()).Titled("Action").SetWidth(8);
}).WithPaging(20).Sortable(true)

</div>
<script>
    $(document).ready(function () {

        $('table tbody tr').each(function () {
            var $this = $(this).find(".CheckOnline");
            if ($this.val() == 'True')
                $this.prop('checked', true);
            else
                $this.prop('checked', false);
        });

        $('.CheckOnline').on('click', function () {
            var code = $(this).data('code');
            if ($(this).is(':checked') == true) {
                $.post('/Shop/UpdateShopOnline', { code: code, isOnline: true }, function () { });
            }
            else {
                $.post('/Shop/UpdateShopOnline', { code: code, isOnline: false }, function () { });
            }
        });
    });
</script>
